@media screen and (min-width: 1025px){
  .h-nav{
    display: none;
  }
}
@media screen and (min-width: 1024px){
  .dropdown {
      position: relative;
      display: inline-block;
  }
  .dropdown-menu {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

      & li a:hover{
        background-color: #e1e1e1;
      }
  }
  .dropdown:hover .dropdown-menu {
      display: block;
  }

  .dropdown:hover .dropbtn {
      background-color: #3e8e41;
  }
}
@media screen and (max-width: 1280px){
  .event .event-content {
    max-width: 1000px;
    position: relative;
    left: -140px;
    top: 0;
  }
}
@media screen and (max-width: 1024px){
  .v-nav{
    display: none;
  }
  .channel-details {
    width: 100%;
    position: static;
    padding-right: 0;
    height: 100%;
    border-right: 0;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  .channel-uploads{
    margin-left: 0;

    .col-sm-4{
    }
  }
  ul.dropdown-menu{
    max-height: 200px;
    overflow-y: auto;
  }
  div.navbar-toggle.search {
    border: 1px solid $purple;
  }
  .nav>li.desktop-search-item{
    display: none;
  }
  .navbar-right{
    margin-top: 0;
  }
  .navbar-nav>li>a.signin{
    margin-top: 0;
    padding-top: 0;
  }
  .content {
    margin: 70px 20px 0 20px;
  }
  .video .vid-details, .article .vid-details {
    margin-left: 20px;
  }
  .comment-area{
    margin-left: 20px
  }
  .video iframe{
    height: 200px;
  }
  .video h2.light.ng-binding{
    font-size: 20px;
  }
  .video .right, .article .right {
    float: left;
    margin-left: 10px;
    margin-top: 20px;
  }
  .modal-content, .modal-dialog {
    //width: 500px;
  }
  .modal-content input[type='text'], .modal-content input[type='password'], .modal-dialog input[type='text'], .modal-dialog input[type='password'], .modal-dialog input[type='number'], .modal-dialog input[type='date'] {
    //width: 85%;
  }
  .col-sm-3 {
    width: 50%;
  }
  .navbar-default .navbar-nav>li>a.blue-btn{
    color: #777;
    border: 0;

    &:hover{
      color: #777;
      background-color: white;
    }
  }
  .navbar-default .navbar-nav>li>a.desktop-search{
    display: none;
  }
  .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
@media screen and (max-width: 700px){
  .btn-toolbar
  .btn-toolbar{
    width: 100%;
  }
  .contact .right {
    border-left: 0;
  }
  .content .upload input[type='text'] {
    margin-left: 0;
  }
  .col-sm-3 {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
  }
  div.navbar-toggle.search {
    width: 150px;

    input{
      width: 100px;
    }
  }
}
@media screen and (max-width: 320px){
}
