
@media screen and (max-width: 1024px){
  .navShow, .navHide{
    padding-top: 48px;
  }
  .upload{
    height: 100vh;
  }
  .article article{
    padding: 20px 10px;
  }
  .article .lower-section {
    padding: 10px 30px;
  }
  .article .right span {
    margin-right: 5px;
  }
  .article .pad-right {
    margin-right: 0;
  }
  .video .vid-details {
    margin-left: 30px;

    .right span{
      margin-right: 5px;
    }
  }
  .video .pad-right{
    margin-right: 20px;
  }
  .video iframe{
    height: 300px;
  }
  .icon-nav, .nav-details{
    top: 53px;
  }
  .icon-nav{
    overflow-y: auto;
  }
  .icon-wrapper ul {
    padding-bottom: 100px;
  }
  .content{
    margin-top: 70px;

    h2{
      font-size: 20px;
    }
    p{
      font-size: 12px;
    }
    .comment{
      margin-right: 0;
    }
    .statistics, .pricing, .manage-events{
      margin-top: 5px;
    }
    .statistics, .manage-events{
      height: 100vh;
    }
    .statistics .stat-square, .pricing .col-sm-3 {
      margin-bottom: 20px;
    }
    .writeup{
      padding: 40px 0 20px 50px;

      svg{
      width: 30px;
      height: 30px;
      }
    }
    .tag span{
      display: none;
    }
    .up{
      padding-top: 20px;
    }
    .col-sm-3{
      width: 50%;
      margin-bottom: 5px;
    }
    .row{
      margin-bottom: 0;
    }
  }
  .help article{
    padding: 0 30px 50px 30px;
  }
  .mainHead .title{
    position: relative;
    left: 29%;
  }
  .home header{
     display: none
   }
}

@media screen and (max-width: 700px){
  .content{
    .col-sm-3{
      width: 100%;
    }
    .upload{
      height: 100%;
      input[type='text'], select, input[type='number']{
        width: 80%;
      }
    }
  }
  .modal-content, .modal-dialog {
    width: 300px;
    height: 450px;
}
  .video .share-icons, .article .share-icons {
    margin-left: 0;
    margin-top: 10px;
    display: block;
  }
  .video .right, .article .right {
      float: left;
      margin-right: 0;
  }
  // .icon-nav, .nav-details{
  //   height: 100vh;
  // }
  .mainHead .title{
    position: relative;
    left: 6%;
  }
}
@media screen and (max-width: 320px){
  .mainHead .title{
    position: relative;
    left: 2%;
  }
  .video .btn, .article .btn {
    font-size: 12px;
  }
  .article .right span {
    margin-right: 5px;
    font-size: 12px;
  }
  .article .small {
    display: block;
    margin-left: 0;
  }
  .content .comment {
    margin-right: 20px;
  }
}
