//placeholders

// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

$purple : #8764c8;

%input{
 color: white;
 border: 0;
 text-indent: 10px;
 border-bottom: 1px solid rgba(255, 255, 255, 0.5);
 margin: 0 30px 40px 30px;
 background-color: transparent;
 transition: 0.4s;

 &:focus{
   outline: 0;
   border-color: $purple;
 }
}
%a{
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;

  &:hover{
    color: white;
    text-decoration: none;
  }
  &:visited, &:focus{
    color: white;
    text-decoration: none;
  }
}
body{
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
p{
  font-size: 15px;
  font-weight: 300;
}
.thin{
  font-weight: 100;
}
.light{
  font-weight: 400;
}
.btn{
  padding: 10px 20px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  transition: 0.4s;

  &:hover{
    color: $purple;
    border-color: $purple;
  }
}
.purple{
  color: $purple;
  margin-left: 10px;
  font-size: 20px;
}
.blue-btn{
  border: 1px solid $purple;
  border-radius: 5px;
  color: $purple;
  transition: 0.4s;

  &:hover{
    color: white;
    background-color: $purple;
  }
}
.cancel{
  margin-right:50px;
}
//end placeholders
