	<section class="container-fluid content">

		<section class="help">
			<article>
				<h2 class="thin">234Central</h2>
				<br />
				<p>
					234 is Nigeria’s country code, thus 234Central has been created to serve as Nigeria’s No. 1 online social-support space for trendy and enterprising youths to Connect, Share and Achieve, by leveraging on the platform resources and inherent access..
					<br /><br />
					It has been designed to provide a social space for progressive development of Nigerians by harnessing the key features of the Web – access to information, commerce, networking and entertainment.

					According to Wikipedia – Social support is the perception and actuality that one is cared for, has assistance available from other people, and that one is part of a supportive social network. These supportive resources can be emotional (e.g. nurturance), tangible (e.g. financial assistance), informational (e.g. advice), or co

					Our Focus:

					234 central is about Connecting with like minds, Sharing ideas and insights, Achieving set goals.

					234 central is an initiative of Visionary Impact Netwox - a social enterprise, championing socio-economic development of youth and women by providing – research, project development, digital PR and marketing based services for organisations and brands targeting same demography.
				</p>
			</article>
			<article>
				<h2 class="thin">Why Join 234Central.com</h2>
				<br />
				<p>
					Popular quote – your network is your networth, as a member we hope you don’t go the success route alone, so for the cost of nothing, this is what you stand to gain by signing-up.

					Opportunity to win freebies by participating in platform activities
					Connect with like minds
					Updates on career and business advancement opportunities
					Access to an interactive space for networking and consultancy
					Updates on trending issues and evolving information
					Grants to upscale your business | innovative | social-impact project
					Opportunity to develop and promote your brand as well as engage with your target audience
				</p>
			</article>
			<article>
				<h2 class="thin">The Rationale for 234Central.com</h2>
				<br />
				<p>
					Nigeria is not just the largest African country, but the largest African economy, thus we are the target of International corporations, brands and countries for generating economic revenue.

					As the giant of Africa, we play a key role in the progressive development of other nations in our continent, not to mention our many natural resources which, if well harnessed void of corruptive /exploitative intent is sufficient to drastically lower our national poverty level and place us in a position to provide aid to other countries.

					Nevertheless, we are where we are because our most vital resource “our population” is under developed, as people are needed to harness and utilize these other resources.

					Our aim is not to promote a sense of entitlement, where we sit back and blame the government for all our woes (this is not absolving them of their role in the state of the nation) and make demands, rather our objective is to create a ‘progressive space’ to promote personal and national development amongst our members.
				</p>
			</article>
		</section>
	</section>
