<div class="text-center">
    <p class="pull-right close" ng-click="$close()">&times;</p>
    <h2 class="thin">Add new event</h2>
</div>
<p class="light">Event name</p>
<input required type="text" ng-model="name"/>
<p class="light">Location</p>
<input required type="text" ng-model="location"/>
<p class="light">Description</p>
<input required type="text" ng-model="description"/>
<p class="input-group">
    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
</p>
<p class="light">Time</p>
<input required type="text" ng-model="time"/>
<p class="light">Event ticket</p>
<select ng-model="type">
    <option value="free">FREE</option>
    <option value="paid">PAID</option>
</select>
<p class="light">Event banner</p>
<!--<input required type="file" ng-model="banner"/>-->
<span class="btn btn-lg">
    <span id="fileselector">
        <media-preview preview-class="img-thumbnail" preview-container="mediaHere" multiple></media-preview>
    </span>
</span>
<div class="row">
    <div id="mediaHere" class="custom-preview"></div>
</div>

<p class="light">Facebook URL</p>
<input required type="text" ng-model="facebook" placeholder="Facebook URL"/>
<p class="light">Twitter URL</p>
<input required type="text" ng-model="twitter" placeholder="Twitter URL"/>
<p class="light">Livestream URL</p>
<input required type="text" ng-model="livestream" placeholder="Livestream URL"/>

<div class="text-center">
    <button type="submit" class="btn cancel" ng-click="$close()">Cancel</button>
    <button class="btn" ng-click="$close() && open.createNewEvent(name, location, description, date, time, type, banner, facebook, twitter, livestream)">Save</button>
</div>
