	<section class="container-fluid content">
		<section class="article">
			<article>
				<div>
				<span class="thin big">Article Title</span>
				<span class="light small">by <span class="underline">Max Fashion</span></span>
				</div>
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<br />
			</article>
			<div class="lower-section">
				<div class="row">
					<button class="btn">follow channel</button>
					<button class="btn">Add comment</button>
					<button class="btn"><img src="assets/img/icons2/like.svg" alt="like" />Like</button>
					<span class="share-icons">
						<button class="share"><img src="assets/img/icons2/facebook.svg" alt="like" /></button>
						<button class="share"><img src="assets/img/icons2/twitter.svg" alt="like" /></button>
					</span>
					<span class="right">
						<span>
							32 comments
						</span>
						<span>•</span>
						<span>
							52 likes
						</span>
						<span>•</span>
						<span>
							900 views
						</span>
					</span>
				</div>
				<br /><br /><br />
				<div class="row pad-right">
					<div class="add-comment">
						<textarea></textarea>
						<br /><br />
						<button class="btn">Add</button>
						<br />
						<hr />
					</div>
					<div class="comment-area">
						<div>
							<br />
							<p class="comment light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<p class="light link-para">
								userX
							</p>
						</div>
					</div>
				</div>
			</div>

		</section>
	</section>
