  <p class="pull-right close" ng-click="$close()">&times;</p>
  <uib-tabset active="activeForm">
    <uib-tab index="0" heading="Sign In">
      <form name="signin" ng-submit="$close() && user.authenticate(lemail, lpassword)">
        <div class="clearfix"></div>
        <div class="panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="lemail" placeholder="Email Address">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="password" class="form-control" ng-model="lpassword" placeholder="Password">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="pull-right">
                <button class="btn" type="submit">Signin</button>
              </div>
              <div class="pull-left">
                <button class="btn" ng-click="$close()" type="button">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </uib-tab>
    <uib-tab index="1" heading="Sign Up">
      <form name="signup" ng-submit="$close() && user.createUser(rusername, remail, rpassword, rcpassword)">
        <div class="clearfix"></div>
        <div class="panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="rusername" placeholder="Username">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="email" class="form-control" ng-model="remail" placeholder="Email Address">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="password" class="form-control" ng-model="rpassword" placeholder="Password">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="password" class="form-control" ng-model="rcpassword" placeholder="Confirm Password">
                </div>
              </div>
            <div class="form-group">
              <div class="pull-right">
                <button class="btn" type="submit">Sign Up</button>
              </div>
              <div class="pull-left">
                <button class="btn" ng-click="$close()" type="button">Cancel</button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </form>
    </uib-tab>
  </uib-tabset>
