<div class="text-center">
  <p class="pull-right close" ng-click="$close()">&times;</p>
  <h2 class="thin">Block Account?</h2>
  <br /><br />
  <p class="light">
    Are you sure you want to deactivate this account?
  </p>
</div>
  <br /><br />
  <div class="text-center">
    <button type="submit" class="btn btn-sm" ng-click="$close()">Cancel</button>
    <button class="btn btn-sm" ng-click="open.banUser(userData.id) && $close()">Yes, Deactivate</button>
  </div>
