<section class="content dark-bg" ng-init="getData()">
	<div class="row">
		<div class="col-sm-4" ng-repeat="item in items">
			<a href="#/blog/{{item.ID }}">
			<div class="tile-wrapper">
					<div style="background-image: url({{item.featured_image.guid}})" class="thumb">
					</div>
				<div class="vid-details">
						<h4 ng-bind-html="item.title"></h4>
				</div>
			</div>
			</a>
		</div>
	</div>
</section>

