	<section class="container-fluid content">
		<div class="row text-center">
			<div class="col-sm-3">
				<div style="background-image: url(assets/img/thumbnails/1.png)" class="thumb">
					<div class="details">
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-12">
									<h2 class="thin">LIFESTYLE</h2>
									<p>This is some dummy text in box three
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div style="background-image: url(assets/img/thumbnails/2.png)" class="thumb">
					<div class="details">
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-12">
									<h2 class="thin">CATEGORY 2</h2>
									<p>This is some dummy text in box three
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div style="background-image: url(assets/img/thumbnails/3.png)" class="thumb">
					<div class="details">
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-12">
									<h2 class="thin">CATEGORY 3</h2>
									<p>This is some dummy text in box three
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div style="background-image: url(assets/img/thumbnails/4.png)" class="thumb">
					<div class="details">
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-12">
									<h2 class="thin">CATEGORY 4</h2>
									<p>This is some dummy text in box three
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-sm-3">
				<div style="background-image: url(assets/img/thumbnails/5.png)" class="thumb">
					<div class="details">
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-12">
									<h2 class="thin">CATEGORY 5</h2>
									<p>This is some dummy text in box three
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div style="background-image: url(assets/img/thumbnails/6.png)" class="thumb">
					<div class="details">
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-12">
									<h2 class="thin">CATEGORY 6</h2>
									<p>This is some dummy text in box three
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div style="background-image: url(assets/img/thumbnails/7.png)" class="thumb">
					<div class="details">
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-12">
									<h2 class="thin">CATEGORY 7</h2>
									<p>This is some dummy text in box three
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div style="background-image: url(assets/img/thumbnails/8.png)" class="thumb">
					<div class="details">
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-12">
									<h2 class="thin">CATEGORY 8</h2>
									<p>This is some dummy text in box three
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-sm-3">
				<div style="background-image: url(assets/img/thumbnails/9.png)" class="thumb">
					<div class="details">
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-12">
									<h2 class="thin">CATEGORY 9</h2>
									<p>This is some dummy text in box three
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div style="background-image: url(assets/img/thumbnails/10.png)" class="thumb">
					<div class="details">
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-12">
									<h2 class="thin">CATEGORY 10</h2>
									<p>This is some dummy text in box three
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div style="background-image: url(assets/img/thumbnails/11.png)" class="thumb">
					<div class="details">
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-12">
									<h2 class="thin">CATEGORY 11</h2>
									<p>This is some dummy text in box three
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div style="background-image: url(assets/img/thumbnails/12.png)" class="thumb">
					<div class="details">
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-12">
									<h2 class="thin">CATEGORY 12</h2>
									<p>This is some dummy text in box three
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
