<section class="content container-fluid" ng-init="getData()">
  <div class="text-center channel-details">
    <h1 class="thin">Channel Username</h1>
    <br />
    <p>
      Channel description, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </p>
    <br />
    <ul>
      <li>
        <p>Events uploaded: 50</p>
        <p>Tickets sold: 50</p>
        <p>followers: 50</p>
      </li>
    </ul>
    <br />
    <button class="btn" ng-click="followOptions.follow()">{{followOptions.text}}</button>
  </div>
  <div class="channel-uploads">
    <h1 class="text-center thin">Uploads</h1>
    <div class="row">
    <div class="col-sm-4" ng-repeat="item in data.data">
      <div class="tile-wrapper">
        <a href="#/video/{{item.id}}">
      <div style="background-image: url({{item.thumbnail}})" class="thumb">
        <div class="details">
          <div class="tags">
            <span class="tag" ng-show={{item.trending}}>
              Trending
            </span>
            <span class="tag" ng-show={{item.tickets}}>
              Tickets
            </span>
            <span class="tag" ng-show={{item.premium}}>
              Premium
            </span>
          </div>
          <div class="writeup">
            <div class="row up">
                <div class="icon">
                  <img class="icon-big" ng-src="assets/img/icons/{{item.type}}.svg" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a>
        <div class="vid-details">
          <a href="#/video/{{item.id}}">
          <h4 class="" >{{item.title | characters:20:ignoreSpaces}}</h4>
          <p class="desc">{{item.desc | characters:30 }}</p>
          </a>
          <div class="comments">
            <div class="top">
            <span class="light comment">{{item.comments}} Comments</span>
            <span class="light space">•</span>
            <span class="light comment">
              {{item.views}} Views
            </span>
          </div>
          </div>
          <a href="#/channel" class="link-para">{{item.user}}</a>
        </div>
    </div>
    </div>
  </div>
  </div>
</section>
