
	<section class="container-fluid content">
		<section class="contact">
			<div class="row">
				<div class="col-sm-6 text-center">
					<h2 class="thin">You can drop by at our address below.</h2>
					<br />
					<p class="light">
						We appreciate your feedback and inquiries.
					</p>
					<br /><br />
					<h4>ADDRESS</h4>
					<p class="light">
						23, ABC street, Lagos state, Nigeria.
					</p>
					<br /><br />
					<h4>PHONE</h4>
					<p class="light">
						+2340987654321
						<br />
						+2340987654321
					</p>
					<br /><br />
					<h4>E-MAIL</h4>
					<p class="light">
						abc@def.com
					</p>
				</div>
				<div class="col-sm-6 text-center right">
					<h2 class="thin">Or drop us a line.</h2>
					<br />
					<p class="light">
						Drop your messages and we will get back to you ASAP!
					</p>
					<br /><br />
					<input type="text" placeholder="Name" />
					<br /><br />
					<input type="text" placeholder="Email" />
					<br /><br />
					<p class="light pull-left">Message</p>
					<br /><br />
					<textarea></textarea>
					<br /><br />
					<button class="btn btnPadLeft">Send</button>
				</div>
			</div>
		</section>
	</section>
  
