  <section class="container-fluid content">
    <div class="page-header text-center">
        <h2>Create New Event</h2>
    </div>
    <form name="event" ng-submit="createNewEvent(picFile)">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
            <input type="file" ng-file-select="" class="btn" ng-model="picFile" name="file" accept="image/*" ng-file-change="generateThumb(picFile[0], $files)" required="">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label>Event Name</label>
                    <input type="text" class="form-control" ng-model="event.name" placeholder="Event Name">
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label>Event Location</label>
                    <input places-auto-complete size=80
                        class="form-control" 
                        ng-model="event.location"
                        component-restrictions="{country:'ng'}"
                        types="{{type}}"
                        on-place-changed="vm.placeChanged()" />
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <!-- <ng-map center="{{event.location}}"></ng-map> -->
                <ng-map zoom="18" center="{{event.location}}">
                <marker position="{{event.location}}" title="{{event.location}}"></marker>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label>Event Description</label>
                    <textarea class="form-control" ng-model="event.description" placeholder="Lively Party" style="resize: none;"></textarea>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label>Event Date</label>
                    <div class="input-group"
                         moment-picker="event.date"
                         format="YYYY-MM-DD">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input class="form-control"
                               placeholder="Select a date"
                               ng-model="event.date"
                               ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label>Event Time</label>
                    <div class="input-group"
                         moment-picker="event.time"
                         format="HH:mm:ss">
                        <span class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </span>
                        <input class="form-control"
                               placeholder="Select a time"
                               ng-model="event.time"
                               ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <label>Select Event Ticket</label>
                <div class="form-group">
                  <div class="radio">
                      <label><input type="radio" ng-model="event.type" value="free" ng-click="showPrice=false">Free</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" ng-model="event.type" value="paid" ng-click="showPrice=true">Paid</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6" ng-show="showPrice">
                <div class="form-group">
                    <label>Event Price</label>
                    <input ng-model="event.price" class="form-control" type="number">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <label>Event Facebook Hashtag</label>
                <input type="text" ng-model="event.facebook" class="form-control" placeholder="#"/>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <label>Event Twitter Hashtag</label>
                <input type="text" ng-model="event.twitter" class="form-control" placeholder="#"/>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <label>Event Livestream link</label>
                <input type="url" ng-model="event.livestream" class="form-control" placeholder="Event Livestream URL"/>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label>Event Download link</label>
                <input type="url" ng-model="event.download" class="form-control" placeholder="Event Download URL"/>
            </div>
            <div class="form-group pull-right">
                <button class="btn" type="submit">Create Event</button>
            </div>
        </div>
    </form>
</section>
