<div class="text-center">
  <p class="pull-right close" ng-click="$close()">&times;</p>
  <h2 class="thin">Delete Package</h2>
  <br /><br />
  <p class="light">
    Are you sure you want to delete this package?
  </p>
</div>
  <br /><br />
  <div class="text-center">
    <button type="submit" class="btn cancel" ng-click="$close()">Cancel</button><button class="btn" ng-click="open.delete() && $close()">Yes, Delete</button>
  </div>
