<div class="text-center">
  <p class="pull-right close" ng-click="$close()">&times;</p>
  <h2 class="thin">Edit Channel</h2>
</div>
<br />
<p class="light">Username</p>
<input type="text" ng-model="channel.username" />
<br />
<p class="light">Description</p>
<textarea class="channel-modal-desc" type="text" ng-model="channel.desc"></textarea>
<br /><br /><br />
<div class="text-center">
  <button type="submit" class="btn cancel" ng-click="$close()">Cancel</button><button class="btn" ng-click="channel.save() && $close()">Save</button>
</div>
