<section class="container-fluid content" ng-init="getSingleEvent()">
    <div class="page-header text-center">
        <h2>Modify {{ item.name }}</h2>
    </div>
    <form name="event">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label>Event Name</label>
                    <input type="text" class="form-control" ng-model="item.name" placeholder="Event Name">
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label>Event Location</label>
                    <input places-auto-complete size=80
                        class="form-control" 
                        ng-model="item.location"
                        component-restrictions="{country:'ng'}"
                        types="{{type}}"/>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ng-map zoom="18" center="{{item.location}}">
                <marker position="{{item.location}}" title="{{item.location}}"></marker>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label>Event Description</label>
                    <textarea class="form-control" ng-model="item.description" placeholder="Lively Party" style="resize: none;"></textarea>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label>Event Date</label>
                    <div class="input-group"
                         moment-picker="item.date"
                         format="YYYY-MM-DD">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input class="form-control"
                               placeholder="Select a date"
                               ng-model="item.date"
                               ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label>Event Time</label>
                    <div class="input-group"
                         moment-picker="item.time"
                         format="HH:mm:ss">
                        <span class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </span>
                        <input class="form-control"
                               placeholder="Select a time"
                               ng-model="item.time"
                               ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <label>Select Event Ticket</label>
                <div class="form-group">
                    <select name="type" ng-model="item.type" class="form-control">
                      <option value="free">Free Event</option>
                      <option value="paid">Paid Event</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="form-group">
                    <label>Event Price</label>
                    <input ng-model="item.price" class="form-control" type="number" placeholder="optional">
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <label>Event Facebook Hashtag</label>
                <input type="text" ng-model="item.facebook_hashtag" class="form-control" placeholder="#"/>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <label>Event Twitter Hashtag</label>
                <input type="text" ng-model="item.twitter_hashtag" class="form-control" placeholder="#"/>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <label>Event Livestream link</label>
                <input type="url" ng-model="item.youtube_live_stream_url" class="form-control" placeholder="Event Livestream URL"/>
            </div>
            <div class="pull-right">
                <button class="btn" type="submit" ng-click="updateEvent()">Save Changes</button>
            </div>
        </div>
    </form>
</section>
