<section class="content full" ng-init="getEventData()">
	<section class="event">

		<div class="no-pad">
			<div class="card hovercard">
				<div class="card-background">
					<img class="card-bkimg" alt="" src="{{item.promo_image_url}}"/>
				</div>
						<div class="row top-details">
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 event-image">
								<img src="{{item.promo_image_url}}" alt="map" />
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4 hidden-xs ad">
								<span class="ad">Sponsored</span>
								<img src="assets/img/uncompressed/3.jpg" alt="map" />
							</div>
						</div>
			</div>
			<div ng-init="fetchPopular()">
				<uib-tabset active="activeForm">
					<uib-tab index="0" heading="Details">
						<div class="container tab-content">
							<div class="row">
								<div class="col-sm-6 col-lg-6">
									<div class="desc">
										<h3 class="light">{{ item.name }}</h3>
										<p class="light">{{item.description}}</p>
										<br />
										<h5>
											DATE AND TIME
											<br /><br />
											{{item.date | date}}
											{{ item.time | date}}
											<br /><br /><br /><br />
											LOCATION
											<br /><br />
											{{item.location}}
											<br /><br /><br /><br />
											Social Tags <br><br>
											<a href="https://twitter.com/search/{{ item.twitter_hashtag}}" target="_blank">{{ item.twitter_hashtag }}</a> on twitter 
											<br><br>
											<a href="https://web.facebook.com/hashtag/{{ item.facebook_hashtag }}" target="_blank">{{ item.facebook_hashtag }} on facebook
											<br /><br /><br /><br />
											<a href="{{ item.youtube_live_stream_url }}" target="_blank">Watch event</a>
										</h5>
									</div>
								</div>
								<div class="col-sm-6 col-lg-6">
									<div class="btn-wrapper">
										<button ng-show="type" class="btn" ng-click="paystack(price)">Buy Ticket</button>
										<button class="btn">Register</button>
										<button class="btn" ng-click="followOptions.follow()">{{followOptions.text}}</button>
									</div>
									<br /><br />
									<div class="dir">
										<ng-map zoom="18" center="{{address}}" style="width:600px; height:400px">
									      <marker position="{{address}}" title="{{address}}"></marker>
									    </ng-map>
									</div>
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab index="1" heading="Social Feeds">
						<div class="tab-content">
							<div class="container">
								<div class="row">
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg-6">
										<div class="box">
											<div class="info">
											<twitter-widget>
												    <a class="twitter-timeline" href="https://twitter.com/iamonuwa" data-tweet-limit="1"></a>
												</twitter-widget>
											</div>
										</div>
									</div>
									<div class="container">
										<div class="row">
											<div class="col-xs-12 col-sm-9 col-md-9 col-lg-6">
													<div class="info">
														<iframe id="anIframe" src="https://www.facebook.com/plugins/page.php?href=https:%2F%2Fwww.facebook.com%2Fcoderexample&tabs=timeline%2Cmessages&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=496223437090509" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
													</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab index="2" heading="Gallery" ng-init="instagram">
						<div class="container tab-content video">
							<div class="row">
								<div class="col-sm-4">
								
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab index="3" heading="Ratings">
						<div class="container tab-content">
							<div class="row">
								<div class="col-sm-7">
									<div class="desc">
										<div class="comment-area">
											<h4 class=""> {{item.views}} Views</h4>
											<div ng-repeat="comment in videoData.commentsArr">
												<br />
												<p class="comment light">{{comment.comment}}</p>
												<p class="light link-para">
													{{comment.user}}
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-5">
								</div>
								<div class="row">
									<div class="col-lg-8 col-lg-offset-1">
											<dir-disqus 
								            	disqus-shortname="view234" 
								            	disqus-identifier="{{ item.id }}"
								              	disqus-title="{{ item.name }}"
								              	disqus-url="http://crystaldigest.com/newbuild4/#/event/{{ item.id }}">
								            </dir-disqus>
										<!-- </div> -->
										</div>
									</div>
								</div>
						</div>
					</uib-tab>
					<uib-tab index="4" heading="Download">
						<div class="tab-content">
						<div class="desc">
							<h3 class="light" ng-if="item.download_link">
							<a href="{{item.download_link}}">Download event resource</a></h3>
							<p ng-if="item.download_link== ''">No event resource available</p>
						</div>
						</div>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</section>
</section>
