  <section class="container-fluid content" ng-controller="EventManagerCtrl">
    <div class="page-header text-center">
        <h2>Add Event Banner</h2>
    </div>
  
	<form name="myForm">
	    <fieldset><legend>Upload on form submit</legend>
	      Profile Picture: <input type="file" ng-file-select="" ng-model="picFile" name="promo_image" accept="image/*" ng-file-change="generateThumb(picFile[0], $files)" required="">
	  		<i ng-show="myForm.promo_image.$error.required">*required</i>
	      <br>
	      
	    <button ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)">Submit</button>
	      <img ng-show="picFile[0].dataUrl != null" ng-src="{{picFile[0].dataUrl}}" class="thumb">
	    <span class="progress" ng-show="picFile[0].progress >= 0">    
	      <div style="width:{{picFile[0].progress}}%" ng-bind="picFile[0].progress + '%'" class="ng-binding"></div>
	    </span> 
	    <span ng-show="picFile[0].result">Upload Successful</span>
	    <h1>All uploaded files</h1>
	    </fieldset>
	  <br>
	</form>
	<p ng-repeat="f in uploadedFiles">{{ f.filename }}</p>
	      
</section>
