<section class="content dark-bg" ng-init="getEvents()">
	<div class="row">
		<div class="col-sm-4" ng-repeat="item in items">
			<div class="tile-wrapper">
				<a href="#/event/{{item.id}}">
					<div style="background-image: url({{item.promo_image_url}})" class="thumb">
						<div class="details">
							<div class="tags">
								<span class="tag">
								  {{item.type}}
								</span>
							</div>
						</div>
					</div>
				</a>
				<div class="vid-details">
					<a href="#/event/{{item.id}}">
						<h4>{{item.name | characters:70:ignoreSpaces}}</h4>
						<p class="desc">{{item.desc | characters:65 }}</p>
					</a>
					<!--<a href="#/channel" class="link-para">{{item.user}}</a>-->
					<p class="light comment">{{item.comments}} Comments • {{item.views}} Views
					<!--</p>-->
					<h5>{{ item.date | date}}</h5>
				</div>
			</div>
		</div>
	</div>
</section>

