<section class="content dark-bg" ng-init="getData()">
  <div class="row">
    <div class="col-sm-4" ng-repeat="item in data.data">
      <div class="tile-wrapper">
        <a href="#/video/{{item.id}}">
          <div style="background-image: url({{item.thumbnail}})" class="thumb">
        <div class="details">
          <div class="tags">
            <span class="tag" ng-show={{item.trending}}>
              Trending
            </span>
            <span class="tag" ng-show={{item.tickets}}>
              Tickets
            </span>
            <span class="tag" ng-show={{item.premium}}>
              Premium
            </span>
          </div>
          <div class="writeup">
              <div class="row up">
                <div class="icon">
                  <img class="icon-big" ng-src="assets/img/icons/{{item.type}}.svg" />
                  </svg>
                </div>
              </div>
            </div>
        </div>
      </div>
        </a>
        <div class="vid-details">
          <a href="#/video/{{item.id}}">
            <h4>{{item.title | characters:70:ignoreSpaces}}</h4>
            <p class="desc">{{item.desc | characters:65 }}</p>
          </a>
          <a href="#/channel" class="link-para">{{item.user}}</a>
          <p class="light comment">{{item.comments}} Comments • {{item.views}} Views
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

