<section class="container-fluid content">
		<section class="video">
			<div class="display">
					<iframe src="https://www.youtube.com/embed/uf7cwHKgT8E">
					</iframe>
			</div>
			<div class="vid-details">
				<div class="row">
						<h2 class="light">9TH Annual BUSINESS LAW CONFERENCE (Live)</h2>
						<p>A forum for regulators, lawyers and business executives to dialogue on policies and regulations that shape economic growth.
						</p>
						<p class="light link-para">Ayuli Jemide
						</p>
				</div>
				<div class="row">
					<button class="btn">Buy tickets</button>
					<button class="btn">follow channel</button>
					<button class="btn">Add comment</button>
					<button class="btn"><img src="assets/img/icons/like.svg" alt="like" />Like</button>
					<span class="share-icons">
						<button class="share"><img src="assets/img/icons/facebook.svg" alt="like" /></button>
						<button class="share"><img src="assets/img/icons/twitter.svg" alt="like" /></button>
					</span>
					<span class="right">
						<span>
							32 comments
						</span>
						<span>•</span>
						<span>
							52 likes
						</span>
						<span>•</span>
						<span>
							900 views
						</span>
					</span>
				</div>
				<br /><br /><br />
				<div class="row pad-right">
					<div class="add-comment">
						<textarea></textarea>
						<br /><br />
						<button class="btn">Add</button>
						<br /><br />
						<hr />
					</div>
					<div class="comment-area">
						<div>
							<br />
							<p class="comment light">I've been waiting all year for this, so glad it's finally here!</p>
							<p class="light link-para">
								majeed88
							</p>
						</div>
					</div>
				</div>
			</div>

		</section>
	</section>
