<section class="container-fluid content">
	<div class="panel">
		<div class="panel-heading">
			<h2 class="page-header">Package Manager</h2>
			<div class="pull-right">
				<button ng-click="open.init('addEvent')" class="btn btn-sm" >Add New Package</button>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="panel-body">
		<section class="manage_events">
				<table datatable="ng" class="table hover">
					<thead>
						<tr>
							<th>Name</th>
							<th class="text-center">Price (₦)</th>
							<th class="text-center">Duration (month(s))</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
					<tr ng-repeat="package in packages">
						<td>{{package.name}}</td>
						<td class="text-center">{{package.price}}</td>
						<td class="text-center">{{package.duration}}</td>
						<td>
						<div class="btn-group">
						<button class="btn btn-sm" ng-click="open.init('viewPackage', package.id)">Update Package</button>
						<button class="btn btn-sm" ng-click="open.init('deletePackage', package.id)">Delete</button>
						</td>
					</tr>
					</tbody>
				</table>
		</section>
		</div>
	</div>
	</section>
