<section class="container-fluid content">
	<div class="panel">
		<div class="panel-heading">
			<h2 class="page-header">My Feeds</h2>
			<!-- <div class="pull-right">
				<button ng-click="open.init('addUser')" class="btn" >Add New User</button>
			</div> -->
			<div class="clearfix"></div>
		</div>
		<div class="panel-body">
		<section class="manage-events">
				<table datatable="ng" class="table hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Date Added</th>
							<th>Views</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Felabration 2016</td>
							<td>8/ Nov./ 2016</td>
							<td>123</td>
						</tr>
					</tbody>
				</table>
		</section>
	</div>
</section>
