<section class="container-fluid content" ng-init="getUsers()">
	<div class="panel">
		<div class="panel-heading">
			<h2 class="page-header">Accounts Manager</h2>
			<div class="pull-right">
				<a ng-href="#/manage-users/create" class="btn btn-sm" >Register Account</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="panel-body">
		<section class="manage-events">
				<table datatable="ng" class="table hover">
					<thead>
						<tr>
							<th>Username</th>
							<th>Account Type</th>
							<th>Email Address</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
					<tr ng-repeat="user in users">
						<td>{{user.name}}</td>
						<td>{{user.role}}</td>
						<td>{{user.email}}</td>
						<td>
						<div class="btn-group">
							<button class="btn btn-sm" ng-click="singleUser(user.id)">Update</button>
							<button class="btn btn-sm" ng-if="active==0" ng-click="open.init('unblock__account', user.id)">Unblock</button> 
							<!-- <button class="btn btn-sm" ng-if="active == '1'" ng-click="open.init('block__account', user.id)">Block</button> -->
						</div>
						</td>
					</tr>
					</tbody>
				</table>
		</section>
		</div>
	</div>
</section>
