
<section class="container-fluid content">
	<div class="panel">
		<div class="panel-heading">
			<h2 class="page-header">Events Manager</h2>
			<div class="pull-right">
				<a ng-href="#/manage-events/create" class="btn btn-sm" >Add New Event</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="panel-body">
		<section class="manage-events">
				<table datatable="ng" class="table hover" ng-init="events()">
					<thead>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Description</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="event in events">
							<td>{{event.name}}</td>
							<td>{{event.type}}</td>
							<td>{{event.description}}</td>
							<td>
								<div class="btn-group">
									<button class="btn btn-sm" ng-click="openEvent(event.id)">Modify Event</button>
									<button class="btn btn-sm" ng-click="open.init('deleteEvent', event.id)">Delete</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
		</section>
		</div>
	</div>
	</section>

