<section class="container-fluid content">
    <div class="page-header text-center">
        <h2>Register new Account</h2>
    </div>
    <form name="register" ng-submit="registerAccount()">
    	<div class="row">
    		<div class="col-md-12">
    			<div class="form-group">
    				<label>Username</label>
    				<input type="text" ng-model="register.username" class="form-control" placeholder="Account username">
    			</div>
    		</div>
    		<div class="col-md-6">
    			<div class="form-group">
    				<label>Email Address</label>
    				<input type="email" ng-model="register.email" class="form-control" placeholder="Account Email Address">
    			</div>
    		</div>
    		<div class="col-md-6">
    			<div class="form-group">
    				<label>Password</label>
    				<input type="Password" ng-model="register.password" class="form-control" placeholder="Account Password">
    			</div>
    		</div>
    		<div class="col-md-12">
    			<div class="radio">
		          <label>
		            <input type="radio" value="admin" ng-model="register.role">
		            Administrator
		          </label>
		        </div>
		        <div class="clearfix"></div>
		        <div class="radio">
		          <label>
		            <input type="radio" value="user" ng-model="register.role">
		            User
		          </label>
		        </div>
    		</div>
    		<div class="form-group">
    			<div class="pull-right">
    				<button class="btn btn-default" type="submit" >Register Account</button>
    			</div>
    		</div>
    	</div>
    </form>
</section>