<section class="container-fluid content">
		<section class="pricing">
			<div class="row text-center">
				<div class="col-sm-3">
					<div class="box-container">
						<header>
							<h3 class="light">Basic</h3>
							<p class="gray">Standard account</p>
						</header>
						<div class="price-details light">
							<h1 class="thin">₦ 0</h1>
							<p class="gray">per month</p>
							<br /><br />
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
							<br /><br />
							<button class="btn" disabled="true" >Active</button>
						</div>
						<br /><br />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="box-container purple-border">
						<header class="purple-border">
							<h3 class="light purple-color">Pro</h3>
							<p class="gray">Premium account</p>
						</header>
						<div class="price-details light">
							<h1 class="thin">₦ 35,000</h1>
							<p class="gray purple-color">per month</p>
							<br /><br />
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
							<br /><br />
							<button class="btn purple-border" ng-click="paystack(3500000)">Upgrade</button>
						</div>
						<br /><br />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="box-container purple-border">
						<header class="purple-border">
							<h3 class="light purple-color">Pro</h3>
							<p class="gray">Premium account</p>
						</header>
						<div class="price-details light">
							<h1 class="thin">₦ 87,500</h1>
							<p class="gray purple-color">per 4 month</p>
							<br /><br />
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
							<br /><br />
							<button class="btn purple-border" ng-click="paystack(8750000)">Upgrade</button>
						</div>
						<br /><br />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="box-container purple-border">
						<header class="purple-bg">
							<h3 class="light">Pro</h3>
							<p>Premium account</p>
						</header>
						<div class="price-details light">
							<h1 class="thin">₦ 175,000</h1>
							<p class="gray purple-color">per 6 month</p>
							<br /><br />
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
							<br /><br />
							<button class="btn purple-border purple-bg" ng-click="paystack(17500000)">Upgrade</button>
						</div>
						<br /><br />
					</div>
				</div>
			</div>
		</section>
	</section>
