<section class="content full" ng-init="readBlog()">

	<section class="event">
		<div class="no-pad">
			<div class="card hovercard">
				<div class="card-background">
					<img class="card-bkimg" alt="" src="{{item.featured_image.guid}}"/>
				</div>
						<div class="row top-details">
							<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 event-image">
								<img src="{{item.featured_image.guid}}" alt="{{ item.id }}" />
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4 hidden-xs ad">
								<span class="ad">Sponsored</span>
								<img src="assets/img/uncompressed/3.jpg" alt="map" />
							</div>
						</div>
			</div>
			<section class="container-fluid">
			<div class="col-lg-12 post">
                    <h2>
                    <p class="ubuntu" ng-bind-html="item.title"></p>
                    </h2>
                    <!-- <div class="body-text"> -->
						<article ng-bind-html="item.content">
					</article>
		            <dir-disqus 
		            	disqus-shortname="view234" 
		            	disqus-identifier="{{ item.id }}"
		              	disqus-title="{{ item.title }}"
		              	disqus-url="{{ item.link }}">
		            </dir-disqus>
			<!-- </div> -->
	</div>
</div>
			</section>
		</div>
	</section>
</section>
