<div class="text-center">
  <p class="pull-right close" ng-click="$close()">&times;</p>
  <h2 class="thin">Search</h2>
</div>
<br /><br />
<div class="text-center">
<input required type="text" placeholder="Title, description or channel" ng-model="searchOptions.query"/>
<br />
<h4 class="light">Search Options</h4>
<br />
<span>Digital tv:</span>
<input type="checkbox" ng-model="searchOptions.digitaltv">
<br />
<span>Blog:</span>
<input type="checkbox" ng-model="searchOptions.blog">
<br />
<span>Channels:</span>
<input type="checkbox" ng-model="searchOptions.channels">
<br /><br /><br />
  <button type="submit" class="btn" ng-click="$close()">Cancel</button>
  <button class="btn" ng-click="searchOptions.search() && $close()">Find</button>
</div>
