<div class="text-center">
  <p class="pull-right close" ng-click="$close()">&times;</p>
  <h2 class="thin">Sign In</h2>
  <br /><br /><br />
  <input type="text" placeholder="Email Address" />
  <br /><br />
  <input type="password" placeholder="Password" />
</div>
  <input type="checkbox" />
  <span>Remeber Me?</span>
  <br /><br /><br />
<div class="text-center">
  <button class="btn light" ng-click="user.authenticate('true')">Sign In</button>
  <br /><br /><br />
  <p class="pull-left light padLeft">Forgotten Password?</p>
  <p class="pull-right padRight" data-toggle="modal" data-target="#signup">Sign Up</p>
</div>
