<section class="container-fluid content" ng-init="upload_stats()">
		<section class="statistics">
			<div class="row text-center">
				<div class="col-sm-3">
					<div class="stat-square">
					<header>
						<h5>Uploaded Events</h5>
					</header>
					<div class="stat-body">
						<h2 class="thin">{{ upload_stats }}</h2>
						<br /><br />
					</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="stat-square">
					<header>
						<h5>Likes</h5>
					</header>
					<div class="stat-body">
						<h2 class="thin">{{ upload_like }}</h2>
						<span class="purple"> on {{ upload_stats }} events</span>
					</div>
					<br />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="stat-square">
					<header>
						<h5>Views</h5>
					</header>
					<div class="stat-body">
						<h2 class="thin">{{ upload_views }}</h2>
						<span class="purple"> on {{ upload_stats }} events</span>
					</div>
					<br />
					</div>
				</div>
				<!-- <div class="col-sm-3">
					<div class="stat-square">
					<header>
						<h5>Comments</h5>
					</header>
					<div class="stat-body">
						<h2 class="thin">400</h2>
						<span class="purple"> on {{ upload_stats }} events</span>
					</div>
					<br />
					</div>
				</div> -->
			</div>
			<!-- <div class="row text-center">
				<div class="col-sm-3">
					<div class="stat-square">
					<header>
						<h5>Tickets Sold</h5>
					</header>
					<div class="stat-body">
						<h2 class="thin">350</h2>
						<span class="purple"> +12 sold</span>
					</div>
					<br />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="stat-square">
					<header>
						<h5>Likes</h5>
					</header>
					<div class="stat-body">
						<h2 class="thin">500</h2>
						<span class="purple"> +12 likes</span>
					</div>
					<br />
					</div>
				</div> -->
				<!-- <div class="col-sm-3">
					<div class="stat-square">
					<header>
						<h5>Blog Posts</h5>
					</header>
					<div class="stat-body">
						<h2 class="thin">10</h2>
					</div>
					<br />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="stat-square">
					<header>
						<h5>Comments</h5>
					</header>
					<div class="stat-body">
						<h2 class="thin">100</h2>
						<span class="purple"> on 10 posts</span>
					</div>
					<br />
					</div>
				</div> -->
			<!-- </div> -->
		</section>
	</section>
