<section class="container-fluid content">
		<div class="row">
			<div class="col-sm-6">
				<div style="background-image: url(assets/img/thumbnails/6.png)" class="thumb">
					<div class="details">
					<div class="tags">
						<span class="tag">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 469.962 469.962" style="enable-background:new 0 0 469.962 469.962;" xml:space="preserve" width="512px" height="512px">
								<g>
									<g>
										<path d="M419.304,232.221c0.772,0.333,1.447,0.78,2.146,1.203l6.08-13.941    c-0.788-0.228-1.577-0.415-2.349-0.756c-9.315-4.064-13.567-14.908-9.51-24.215l-34.311-14.965l37.4,52.502    C418.939,232.124,419.126,232.148,419.304,232.221z" fill="#FFFFFF"/>
										<path d="M9.535,242.195l208.181,90.78L90.617,154.561l-4.715-6.617l6.617-4.715    c4.609-3.284,5.69-9.714,2.406-14.323l-4.715-6.625l6.617-4.715l11.99-8.543l6.625-4.715l4.715,6.617    c1.926,2.699,5.056,4.316,8.381,4.316c2.138,0,4.194-0.658,5.942-1.91c2.235-1.593,3.715-3.959,4.17-6.665    c0.455-2.707-0.171-5.422-1.764-7.657l-4.715-6.617l6.617-4.715l11.99-8.543l0.122-0.089L91.902,53.319    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536L0,217.98C9.34,222.036,13.599,232.88,9.535,242.195z" fill="#FFFFFF"/>
										<path d="M139.194,119.957c-3.235,2.309-6.966,3.414-10.657,3.414c-5.747,0-11.413-2.682-14.997-7.722    l-11.99,8.535c5.893,8.275,3.967,19.761-4.308,25.662l134.959,189.445l9.169,12.868l9.161,12.859l51.657,72.515    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.662c3.235-2.309,6.966-3.414,10.657-3.414    c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853    c-5.893-8.275-3.967-19.761,4.308-25.654c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722    c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654l-41.984-58.932l-2.91-4.081l-0.39-0.545    l-10.835-15.209l-5.69-7.99l-41.309-57.989l-9.161-12.859l-9.169-12.868L265.057,30.291c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c5.893,8.275,3.967,19.761-4.308,25.654c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c2.869,4.032,3.853,8.828,3.186,13.363c-0.398,2.699-1.414,5.275-2.967,7.576    c-1.195,1.78-2.674,3.406-4.528,4.723c-0.732,0.52-1.553,0.764-2.325,1.162c-2.658,1.374-5.471,2.26-8.332,2.26    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543C149.395,102.57,147.469,114.064,139.194,119.957z" fill="#FFFFFF"/>
									</g>
								</g>
							</svg>
							Tickets
						</span>
						<span class="tag">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 611.999 611.999" style="enable-background:new 0 0 611.999 611.999;" xml:space="preserve" width="512px" height="512px">
								<g>
									<path d="M216.02,611.195c5.978,3.178,12.284-3.704,8.624-9.4c-19.866-30.919-38.678-82.947-8.706-149.952   c49.982-111.737,80.396-169.609,80.396-169.609s16.177,67.536,60.029,127.585c42.205,57.793,65.306,130.478,28.064,191.029   c-3.495,5.683,2.668,12.388,8.607,9.349c46.1-23.582,97.806-70.885,103.64-165.017c2.151-28.764-1.075-69.034-17.206-119.851   c-20.741-64.406-46.239-94.459-60.992-107.365c-4.413-3.861-11.276-0.439-10.914,5.413c4.299,69.494-21.845,87.129-36.726,47.386   c-5.943-15.874-9.409-43.33-9.409-76.766c0-55.665-16.15-112.967-51.755-159.531c-9.259-12.109-20.093-23.424-32.523-33.073   c-4.5-3.494-11.023,0.018-10.611,5.7c2.734,37.736,0.257,145.885-94.624,275.089c-86.029,119.851-52.693,211.896-40.864,236.826   C153.666,566.767,185.212,594.814,216.02,611.195z" fill="#FFFFFF"/>
								</g>
							</svg>
							Trending
						</span>
					</div>
					<div class="writeup">
						<div class="row up">
							<div class="col-xs-3">
								<div class="icon padLeft">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 314.068 314.068" style="enable-background:new 0 0 314.068 314.068;" xml:space="preserve">
									<g>
										<g id="_x33_56._Play">
											<g>
												<path d="M293.002,78.53C249.646,3.435,153.618-22.296,78.529,21.068C3.434,64.418-22.298,160.442,21.066,235.534     c43.35,75.095,139.375,100.83,214.465,57.47C310.627,249.639,336.371,153.62,293.002,78.53z M219.834,265.801     c-60.067,34.692-136.894,14.106-171.576-45.973C13.568,159.761,34.161,82.935,94.23,48.26     c60.071-34.69,136.894-14.106,171.578,45.971C300.493,154.307,279.906,231.117,219.834,265.801z M213.555,150.652l-82.214-47.949     c-7.492-4.374-13.535-0.877-13.493,7.789l0.421,95.174c0.038,8.664,6.155,12.191,13.669,7.851l81.585-47.103     C221.029,162.082,221.045,155.026,213.555,150.652z" fill="#FFFFFF"/>
											</g>
										</g>
									</g>
								</svg>
								</div>
							</div>
							<div class="col-xs-9">
								<h4 class="thin">Fashion Week</h4>
								<p>This is some dummy text in box three
								</p>
								<p class="thin link-para">Max Fashion House
								</p>
							</div>
						</div>
					</div>
					<hr class="padTop"/>
					<div class="comments">
						<div class="pull-right">
							<span class="light comment c-act">400 Comments</span>
							<span class="light comment">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="512px" height="512px">
									<g>
										<g>
											<path d="m64.7,36.3c-28.4,0-55.9,27.1-57,28.3-0.8,0.8-1.2,1.8-1.2,2.9s0.4,2.1 1.2,2.9c1.2,1.2 28.6,28.3 57,28.3s55.9-27.1 57-28.3c0.8-0.8 1.2-1.8 1.2-2.9s-0.4-2.1-1.2-2.9c-1.1-1.2-28.5-28.3-57-28.3zm0,54.1c-19.9,0-40.4-16.2-48.1-23 7.7-6.8 28.2-23 48.1-23s40.4,16.2 48.1,23c-7.7,6.8-28.2,23-48.1,23z" fill="#FFFFFF"/>
											<path d="m50,67.4c0,8.1 6.6,14.8 14.8,14.8s14.8-6.6 14.8-14.8-6.6-14.8-14.8-14.8-14.8,6.7-14.8,14.8zm21.3,0c0,3.6-2.9,6.6-6.6,6.6-3.6,0-6.6-2.9-6.6-6.6s2.9-6.6 6.6-6.6c3.6,0.1 6.6,3 6.6,6.6z" fill="#FFFFFF"/>
										</g>
									</g>
								</svg>
								900
						</span>
					</div>
					</div>
			</div>
			</div>
			</div>
			<div class="col-sm-3">
				<div style="background-image: url(assets/img/thumbnails/1.png)" class="thumb">
					<div class="details">
						<div class="tags">
							<span class="tag">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 611.999 611.999" style="enable-background:new 0 0 611.999 611.999;" xml:space="preserve" width="512px" height="512px">
									<g>
										<path d="M216.02,611.195c5.978,3.178,12.284-3.704,8.624-9.4c-19.866-30.919-38.678-82.947-8.706-149.952   c49.982-111.737,80.396-169.609,80.396-169.609s16.177,67.536,60.029,127.585c42.205,57.793,65.306,130.478,28.064,191.029   c-3.495,5.683,2.668,12.388,8.607,9.349c46.1-23.582,97.806-70.885,103.64-165.017c2.151-28.764-1.075-69.034-17.206-119.851   c-20.741-64.406-46.239-94.459-60.992-107.365c-4.413-3.861-11.276-0.439-10.914,5.413c4.299,69.494-21.845,87.129-36.726,47.386   c-5.943-15.874-9.409-43.33-9.409-76.766c0-55.665-16.15-112.967-51.755-159.531c-9.259-12.109-20.093-23.424-32.523-33.073   c-4.5-3.494-11.023,0.018-10.611,5.7c2.734,37.736,0.257,145.885-94.624,275.089c-86.029,119.851-52.693,211.896-40.864,236.826   C153.666,566.767,185.212,594.814,216.02,611.195z" fill="#FFFFFF"/>
									</g>
								</svg>
								Trending
							</span>
							<span class="tag">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 469.962 469.962" style="enable-background:new 0 0 469.962 469.962;" xml:space="preserve" width="512px" height="512px">
									<g>
										<g>
											<path d="M419.304,232.221c0.772,0.333,1.447,0.78,2.146,1.203l6.08-13.941    c-0.788-0.228-1.577-0.415-2.349-0.756c-9.315-4.064-13.567-14.908-9.51-24.215l-34.311-14.965l37.4,52.502    C418.939,232.124,419.126,232.148,419.304,232.221z" fill="#FFFFFF"/>
											<path d="M9.535,242.195l208.181,90.78L90.617,154.561l-4.715-6.617l6.617-4.715    c4.609-3.284,5.69-9.714,2.406-14.323l-4.715-6.625l6.617-4.715l11.99-8.543l6.625-4.715l4.715,6.617    c1.926,2.699,5.056,4.316,8.381,4.316c2.138,0,4.194-0.658,5.942-1.91c2.235-1.593,3.715-3.959,4.17-6.665    c0.455-2.707-0.171-5.422-1.764-7.657l-4.715-6.617l6.617-4.715l11.99-8.543l0.122-0.089L91.902,53.319    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536L0,217.98C9.34,222.036,13.599,232.88,9.535,242.195z" fill="#FFFFFF"/>
											<path d="M139.194,119.957c-3.235,2.309-6.966,3.414-10.657,3.414c-5.747,0-11.413-2.682-14.997-7.722    l-11.99,8.535c5.893,8.275,3.967,19.761-4.308,25.662l134.959,189.445l9.169,12.868l9.161,12.859l51.657,72.515    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.662c3.235-2.309,6.966-3.414,10.657-3.414    c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853    c-5.893-8.275-3.967-19.761,4.308-25.654c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722    c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654l-41.984-58.932l-2.91-4.081l-0.39-0.545    l-10.835-15.209l-5.69-7.99l-41.309-57.989l-9.161-12.859l-9.169-12.868L265.057,30.291c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c5.893,8.275,3.967,19.761-4.308,25.654c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c2.869,4.032,3.853,8.828,3.186,13.363c-0.398,2.699-1.414,5.275-2.967,7.576    c-1.195,1.78-2.674,3.406-4.528,4.723c-0.732,0.52-1.553,0.764-2.325,1.162c-2.658,1.374-5.471,2.26-8.332,2.26    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543C149.395,102.57,147.469,114.064,139.194,119.957z" fill="#FFFFFF"/>
										</g>
									</g>
								</svg>
								Tickets
							</span>
						</div>
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-3">
									<div class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 314.068 314.068" style="enable-background:new 0 0 314.068 314.068;" xml:space="preserve">
											<g>
												<g id="_x33_56._Play">
													<g>
														<path d="M293.002,78.53C249.646,3.435,153.618-22.296,78.529,21.068C3.434,64.418-22.298,160.442,21.066,235.534     c43.35,75.095,139.375,100.83,214.465,57.47C310.627,249.639,336.371,153.62,293.002,78.53z M219.834,265.801     c-60.067,34.692-136.894,14.106-171.576-45.973C13.568,159.761,34.161,82.935,94.23,48.26     c60.071-34.69,136.894-14.106,171.578,45.971C300.493,154.307,279.906,231.117,219.834,265.801z M213.555,150.652l-82.214-47.949     c-7.492-4.374-13.535-0.877-13.493,7.789l0.421,95.174c0.038,8.664,6.155,12.191,13.669,7.851l81.585-47.103     C221.029,162.082,221.045,155.026,213.555,150.652z" fill="#FFFFFF"/>
													</g>
												</g>
											</g>
										</svg>
									</div>
								</div>
								<div class="col-xs-9">
									<h4 class="thin">Fashion Week</h4>
									<p>This is some dummy text in box three
									</p>
									<p class="thin link-para">Max Fashion House
									</p>
								</div>
							</div>
						</div>
						<hr />
						<div class="comments">
							<div class="pull-right">
								<span class="light comment c-act">400 Comments</span>
								<span class="light comment">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="512px" height="512px">
										<g>
											<g>
												<path d="m64.7,36.3c-28.4,0-55.9,27.1-57,28.3-0.8,0.8-1.2,1.8-1.2,2.9s0.4,2.1 1.2,2.9c1.2,1.2 28.6,28.3 57,28.3s55.9-27.1 57-28.3c0.8-0.8 1.2-1.8 1.2-2.9s-0.4-2.1-1.2-2.9c-1.1-1.2-28.5-28.3-57-28.3zm0,54.1c-19.9,0-40.4-16.2-48.1-23 7.7-6.8 28.2-23 48.1-23s40.4,16.2 48.1,23c-7.7,6.8-28.2,23-48.1,23z" fill="#FFFFFF"/>
												<path d="m50,67.4c0,8.1 6.6,14.8 14.8,14.8s14.8-6.6 14.8-14.8-6.6-14.8-14.8-14.8-14.8,6.7-14.8,14.8zm21.3,0c0,3.6-2.9,6.6-6.6,6.6-3.6,0-6.6-2.9-6.6-6.6s2.9-6.6 6.6-6.6c3.6,0.1 6.6,3 6.6,6.6z" fill="#FFFFFF"/>
											</g>
										</g>
									</svg>
									900
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div style="background-color: #6976ba;" class="thumb">
					<div class="details">
						<div class="tags">
							<span class="tag">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 611.999 611.999" style="enable-background:new 0 0 611.999 611.999;" xml:space="preserve" width="512px" height="512px">
									<g>
										<path d="M216.02,611.195c5.978,3.178,12.284-3.704,8.624-9.4c-19.866-30.919-38.678-82.947-8.706-149.952   c49.982-111.737,80.396-169.609,80.396-169.609s16.177,67.536,60.029,127.585c42.205,57.793,65.306,130.478,28.064,191.029   c-3.495,5.683,2.668,12.388,8.607,9.349c46.1-23.582,97.806-70.885,103.64-165.017c2.151-28.764-1.075-69.034-17.206-119.851   c-20.741-64.406-46.239-94.459-60.992-107.365c-4.413-3.861-11.276-0.439-10.914,5.413c4.299,69.494-21.845,87.129-36.726,47.386   c-5.943-15.874-9.409-43.33-9.409-76.766c0-55.665-16.15-112.967-51.755-159.531c-9.259-12.109-20.093-23.424-32.523-33.073   c-4.5-3.494-11.023,0.018-10.611,5.7c2.734,37.736,0.257,145.885-94.624,275.089c-86.029,119.851-52.693,211.896-40.864,236.826   C153.666,566.767,185.212,594.814,216.02,611.195z" fill="#FFFFFF"/>
									</g>
								</svg>
								Trending
							</span>
						</div>
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-3">
									<div class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="512px" height="512px">
											<g>
												<g>
													<path d="M28,7V3H0v22c0,0,0,4,4,4h25c0,0,3-0.062,3-4V7H28z M4,27c-2,0-2-2-2-2V5h24v20    c0,0.921,0.284,1.559,0.676,2H4z" fill="#FFFFFF"/>
													<rect x="4" y="9" width="20" height="2" fill="#FFFFFF"/>
													<rect x="15" y="21" width="7" height="2" fill="#FFFFFF"/>
													<rect x="15" y="17" width="9" height="2" fill="#FFFFFF"/>
													<rect x="15" y="13" width="9" height="2" fill="#FFFFFF"/>
													<rect x="4" y="13" width="9" height="10" fill="#FFFFFF"/>
												</g>
											</g>
										</svg>
									</div>
								</div>
								<div class="col-xs-9">
									<h4 class="thin">Fashion Week</h4>
									<p>This is some dummy text in box three
									</p>
									<p class="thin link-para">Max Fashion House
									</p>
								</div>
							</div>
						</div>
						<hr />
						<div class="comments">
							<div class="pull-right">
								<span class="light comment c-act">400 Comments</span>
								<span class="light comment">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="512px" height="512px">
										<g>
											<g>
												<path d="m64.7,36.3c-28.4,0-55.9,27.1-57,28.3-0.8,0.8-1.2,1.8-1.2,2.9s0.4,2.1 1.2,2.9c1.2,1.2 28.6,28.3 57,28.3s55.9-27.1 57-28.3c0.8-0.8 1.2-1.8 1.2-2.9s-0.4-2.1-1.2-2.9c-1.1-1.2-28.5-28.3-57-28.3zm0,54.1c-19.9,0-40.4-16.2-48.1-23 7.7-6.8 28.2-23 48.1-23s40.4,16.2 48.1,23c-7.7,6.8-28.2,23-48.1,23z" fill="#FFFFFF"/>
												<path d="m50,67.4c0,8.1 6.6,14.8 14.8,14.8s14.8-6.6 14.8-14.8-6.6-14.8-14.8-14.8-14.8,6.7-14.8,14.8zm21.3,0c0,3.6-2.9,6.6-6.6,6.6-3.6,0-6.6-2.9-6.6-6.6s2.9-6.6 6.6-6.6c3.6,0.1 6.6,3 6.6,6.6z" fill="#FFFFFF"/>
											</g>
										</g>
									</svg>
									900
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div style="background-image: url(assets/img/thumbnails/2.png)" class="thumb">
					<div class="details">
						<div class="tags">
							<span class="tag">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 469.962 469.962" style="enable-background:new 0 0 469.962 469.962;" xml:space="preserve" width="512px" height="512px">
									<g>
										<g>
											<path d="M419.304,232.221c0.772,0.333,1.447,0.78,2.146,1.203l6.08-13.941    c-0.788-0.228-1.577-0.415-2.349-0.756c-9.315-4.064-13.567-14.908-9.51-24.215l-34.311-14.965l37.4,52.502    C418.939,232.124,419.126,232.148,419.304,232.221z" fill="#FFFFFF"/>
											<path d="M9.535,242.195l208.181,90.78L90.617,154.561l-4.715-6.617l6.617-4.715    c4.609-3.284,5.69-9.714,2.406-14.323l-4.715-6.625l6.617-4.715l11.99-8.543l6.625-4.715l4.715,6.617    c1.926,2.699,5.056,4.316,8.381,4.316c2.138,0,4.194-0.658,5.942-1.91c2.235-1.593,3.715-3.959,4.17-6.665    c0.455-2.707-0.171-5.422-1.764-7.657l-4.715-6.617l6.617-4.715l11.99-8.543l0.122-0.089L91.902,53.319    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536L0,217.98C9.34,222.036,13.599,232.88,9.535,242.195z" fill="#FFFFFF"/>
											<path d="M139.194,119.957c-3.235,2.309-6.966,3.414-10.657,3.414c-5.747,0-11.413-2.682-14.997-7.722    l-11.99,8.535c5.893,8.275,3.967,19.761-4.308,25.662l134.959,189.445l9.169,12.868l9.161,12.859l51.657,72.515    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.662c3.235-2.309,6.966-3.414,10.657-3.414    c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853    c-5.893-8.275-3.967-19.761,4.308-25.654c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722    c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654l-41.984-58.932l-2.91-4.081l-0.39-0.545    l-10.835-15.209l-5.69-7.99l-41.309-57.989l-9.161-12.859l-9.169-12.868L265.057,30.291c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c5.893,8.275,3.967,19.761-4.308,25.654c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c2.869,4.032,3.853,8.828,3.186,13.363c-0.398,2.699-1.414,5.275-2.967,7.576    c-1.195,1.78-2.674,3.406-4.528,4.723c-0.732,0.52-1.553,0.764-2.325,1.162c-2.658,1.374-5.471,2.26-8.332,2.26    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543C149.395,102.57,147.469,114.064,139.194,119.957z" fill="#FFFFFF"/>
										</g>
									</g>
								</svg>
								Tickets
							</span>
							<span class="tag">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 611.999 611.999" style="enable-background:new 0 0 611.999 611.999;" xml:space="preserve" width="512px" height="512px">
									<g>
										<path d="M216.02,611.195c5.978,3.178,12.284-3.704,8.624-9.4c-19.866-30.919-38.678-82.947-8.706-149.952   c49.982-111.737,80.396-169.609,80.396-169.609s16.177,67.536,60.029,127.585c42.205,57.793,65.306,130.478,28.064,191.029   c-3.495,5.683,2.668,12.388,8.607,9.349c46.1-23.582,97.806-70.885,103.64-165.017c2.151-28.764-1.075-69.034-17.206-119.851   c-20.741-64.406-46.239-94.459-60.992-107.365c-4.413-3.861-11.276-0.439-10.914,5.413c4.299,69.494-21.845,87.129-36.726,47.386   c-5.943-15.874-9.409-43.33-9.409-76.766c0-55.665-16.15-112.967-51.755-159.531c-9.259-12.109-20.093-23.424-32.523-33.073   c-4.5-3.494-11.023,0.018-10.611,5.7c2.734,37.736,0.257,145.885-94.624,275.089c-86.029,119.851-52.693,211.896-40.864,236.826   C153.666,566.767,185.212,594.814,216.02,611.195z" fill="#FFFFFF"/>
									</g>
								</svg>
								Trending
							</span>
						</div>
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-3">
									<div class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 314.068 314.068" style="enable-background:new 0 0 314.068 314.068;" xml:space="preserve">
											<g>
												<g id="_x33_56._Play">
													<g>
														<path d="M293.002,78.53C249.646,3.435,153.618-22.296,78.529,21.068C3.434,64.418-22.298,160.442,21.066,235.534     c43.35,75.095,139.375,100.83,214.465,57.47C310.627,249.639,336.371,153.62,293.002,78.53z M219.834,265.801     c-60.067,34.692-136.894,14.106-171.576-45.973C13.568,159.761,34.161,82.935,94.23,48.26     c60.071-34.69,136.894-14.106,171.578,45.971C300.493,154.307,279.906,231.117,219.834,265.801z M213.555,150.652l-82.214-47.949     c-7.492-4.374-13.535-0.877-13.493,7.789l0.421,95.174c0.038,8.664,6.155,12.191,13.669,7.851l81.585-47.103     C221.029,162.082,221.045,155.026,213.555,150.652z" fill="#FFFFFF"/>
													</g>
												</g>
											</g>
										</svg>
									</div>
								</div>
								<div class="col-xs-9">
									<h4 class="thin">Fashion Week</h4>
									<p>This is some dummy text in box three
									</p>
									<p class="thin link-para">Max Fashion House
									</p>
								</div>
							</div>
						</div>
						<hr />
						<div class="comments">
							<div class="pull-right">
								<span class="light comment c-act">400 Comments</span>
								<span class="light comment">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="512px" height="512px">
										<g>
											<g>
												<path d="m64.7,36.3c-28.4,0-55.9,27.1-57,28.3-0.8,0.8-1.2,1.8-1.2,2.9s0.4,2.1 1.2,2.9c1.2,1.2 28.6,28.3 57,28.3s55.9-27.1 57-28.3c0.8-0.8 1.2-1.8 1.2-2.9s-0.4-2.1-1.2-2.9c-1.1-1.2-28.5-28.3-57-28.3zm0,54.1c-19.9,0-40.4-16.2-48.1-23 7.7-6.8 28.2-23 48.1-23s40.4,16.2 48.1,23c-7.7,6.8-28.2,23-48.1,23z" fill="#FFFFFF"/>
												<path d="m50,67.4c0,8.1 6.6,14.8 14.8,14.8s14.8-6.6 14.8-14.8-6.6-14.8-14.8-14.8-14.8,6.7-14.8,14.8zm21.3,0c0,3.6-2.9,6.6-6.6,6.6-3.6,0-6.6-2.9-6.6-6.6s2.9-6.6 6.6-6.6c3.6,0.1 6.6,3 6.6,6.6z" fill="#FFFFFF"/>
											</g>
										</g>
									</svg>
									900
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div style="background-color: #ae37ae" class="thumb">
					<div class="details">
						<div class="tags">
							<span class="tag">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 469.962 469.962" style="enable-background:new 0 0 469.962 469.962;" xml:space="preserve" width="512px" height="512px">
									<g>
										<g>
											<path d="M419.304,232.221c0.772,0.333,1.447,0.78,2.146,1.203l6.08-13.941    c-0.788-0.228-1.577-0.415-2.349-0.756c-9.315-4.064-13.567-14.908-9.51-24.215l-34.311-14.965l37.4,52.502    C418.939,232.124,419.126,232.148,419.304,232.221z" fill="#FFFFFF"/>
											<path d="M9.535,242.195l208.181,90.78L90.617,154.561l-4.715-6.617l6.617-4.715    c4.609-3.284,5.69-9.714,2.406-14.323l-4.715-6.625l6.617-4.715l11.99-8.543l6.625-4.715l4.715,6.617    c1.926,2.699,5.056,4.316,8.381,4.316c2.138,0,4.194-0.658,5.942-1.91c2.235-1.593,3.715-3.959,4.17-6.665    c0.455-2.707-0.171-5.422-1.764-7.657l-4.715-6.617l6.617-4.715l11.99-8.543l0.122-0.089L91.902,53.319    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536L0,217.98C9.34,222.036,13.599,232.88,9.535,242.195z" fill="#FFFFFF"/>
											<path d="M139.194,119.957c-3.235,2.309-6.966,3.414-10.657,3.414c-5.747,0-11.413-2.682-14.997-7.722    l-11.99,8.535c5.893,8.275,3.967,19.761-4.308,25.662l134.959,189.445l9.169,12.868l9.161,12.859l51.657,72.515    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.662c3.235-2.309,6.966-3.414,10.657-3.414    c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853    c-5.893-8.275-3.967-19.761,4.308-25.654c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722    c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654l-41.984-58.932l-2.91-4.081l-0.39-0.545    l-10.835-15.209l-5.69-7.99l-41.309-57.989l-9.161-12.859l-9.169-12.868L265.057,30.291c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c5.893,8.275,3.967,19.761-4.308,25.654c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c2.869,4.032,3.853,8.828,3.186,13.363c-0.398,2.699-1.414,5.275-2.967,7.576    c-1.195,1.78-2.674,3.406-4.528,4.723c-0.732,0.52-1.553,0.764-2.325,1.162c-2.658,1.374-5.471,2.26-8.332,2.26    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543C149.395,102.57,147.469,114.064,139.194,119.957z" fill="#FFFFFF"/>
										</g>
									</g>
								</svg>
								Tickets
							</span>
							<span class="tag">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 611.999 611.999" style="enable-background:new 0 0 611.999 611.999;" xml:space="preserve" width="512px" height="512px">
									<g>
										<path d="M216.02,611.195c5.978,3.178,12.284-3.704,8.624-9.4c-19.866-30.919-38.678-82.947-8.706-149.952   c49.982-111.737,80.396-169.609,80.396-169.609s16.177,67.536,60.029,127.585c42.205,57.793,65.306,130.478,28.064,191.029   c-3.495,5.683,2.668,12.388,8.607,9.349c46.1-23.582,97.806-70.885,103.64-165.017c2.151-28.764-1.075-69.034-17.206-119.851   c-20.741-64.406-46.239-94.459-60.992-107.365c-4.413-3.861-11.276-0.439-10.914,5.413c4.299,69.494-21.845,87.129-36.726,47.386   c-5.943-15.874-9.409-43.33-9.409-76.766c0-55.665-16.15-112.967-51.755-159.531c-9.259-12.109-20.093-23.424-32.523-33.073   c-4.5-3.494-11.023,0.018-10.611,5.7c2.734,37.736,0.257,145.885-94.624,275.089c-86.029,119.851-52.693,211.896-40.864,236.826   C153.666,566.767,185.212,594.814,216.02,611.195z" fill="#FFFFFF"/>
									</g>
								</svg>
								Trending
							</span>
						</div>
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-3">
									<div class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="512px" height="512px">
											<g>
												<g>
													<path d="M28,7V3H0v22c0,0,0,4,4,4h25c0,0,3-0.062,3-4V7H28z M4,27c-2,0-2-2-2-2V5h24v20    c0,0.921,0.284,1.559,0.676,2H4z" fill="#FFFFFF"/>
													<rect x="4" y="9" width="20" height="2" fill="#FFFFFF"/>
													<rect x="15" y="21" width="7" height="2" fill="#FFFFFF"/>
													<rect x="15" y="17" width="9" height="2" fill="#FFFFFF"/>
													<rect x="15" y="13" width="9" height="2" fill="#FFFFFF"/>
													<rect x="4" y="13" width="9" height="10" fill="#FFFFFF"/>
												</g>
											</g>
										</svg>
									</div>
								</div>
								<div class="col-xs-9">
									<h4 class="thin">Fashion Week</h4>
									<p>This is some dummy text in box three
									</p>
									<p class="thin link-para">Max Fashion House
									</p>
								</div>
							</div>
						</div>
						<hr />
						<div class="comments">
							<div class="pull-right">
								<span class="light comment c-act">400 Comments</span>
								<span class="light comment">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="512px" height="512px">
										<g>
											<g>
												<path d="m64.7,36.3c-28.4,0-55.9,27.1-57,28.3-0.8,0.8-1.2,1.8-1.2,2.9s0.4,2.1 1.2,2.9c1.2,1.2 28.6,28.3 57,28.3s55.9-27.1 57-28.3c0.8-0.8 1.2-1.8 1.2-2.9s-0.4-2.1-1.2-2.9c-1.1-1.2-28.5-28.3-57-28.3zm0,54.1c-19.9,0-40.4-16.2-48.1-23 7.7-6.8 28.2-23 48.1-23s40.4,16.2 48.1,23c-7.7,6.8-28.2,23-48.1,23z" fill="#FFFFFF"/>
												<path d="m50,67.4c0,8.1 6.6,14.8 14.8,14.8s14.8-6.6 14.8-14.8-6.6-14.8-14.8-14.8-14.8,6.7-14.8,14.8zm21.3,0c0,3.6-2.9,6.6-6.6,6.6-3.6,0-6.6-2.9-6.6-6.6s2.9-6.6 6.6-6.6c3.6,0.1 6.6,3 6.6,6.6z" fill="#FFFFFF"/>
											</g>
										</g>
									</svg>
									900
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div style="background-image: url(assets/img/thumbnails/3.png)" class="thumb">
					<div class="details">
					<div class="tags">
						<span class="tag">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 469.962 469.962" style="enable-background:new 0 0 469.962 469.962;" xml:space="preserve" width="512px" height="512px">
								<g>
									<g>
										<path d="M419.304,232.221c0.772,0.333,1.447,0.78,2.146,1.203l6.08-13.941    c-0.788-0.228-1.577-0.415-2.349-0.756c-9.315-4.064-13.567-14.908-9.51-24.215l-34.311-14.965l37.4,52.502    C418.939,232.124,419.126,232.148,419.304,232.221z" fill="#FFFFFF"/>
										<path d="M9.535,242.195l208.181,90.78L90.617,154.561l-4.715-6.617l6.617-4.715    c4.609-3.284,5.69-9.714,2.406-14.323l-4.715-6.625l6.617-4.715l11.99-8.543l6.625-4.715l4.715,6.617    c1.926,2.699,5.056,4.316,8.381,4.316c2.138,0,4.194-0.658,5.942-1.91c2.235-1.593,3.715-3.959,4.17-6.665    c0.455-2.707-0.171-5.422-1.764-7.657l-4.715-6.617l6.617-4.715l11.99-8.543l0.122-0.089L91.902,53.319    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536L0,217.98C9.34,222.036,13.599,232.88,9.535,242.195z" fill="#FFFFFF"/>
										<path d="M139.194,119.957c-3.235,2.309-6.966,3.414-10.657,3.414c-5.747,0-11.413-2.682-14.997-7.722    l-11.99,8.535c5.893,8.275,3.967,19.761-4.308,25.662l134.959,189.445l9.169,12.868l9.161,12.859l51.657,72.515    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.662c3.235-2.309,6.966-3.414,10.657-3.414    c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853    c-5.893-8.275-3.967-19.761,4.308-25.654c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722    c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654l-41.984-58.932l-2.91-4.081l-0.39-0.545    l-10.835-15.209l-5.69-7.99l-41.309-57.989l-9.161-12.859l-9.169-12.868L265.057,30.291c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c5.893,8.275,3.967,19.761-4.308,25.654c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c2.869,4.032,3.853,8.828,3.186,13.363c-0.398,2.699-1.414,5.275-2.967,7.576    c-1.195,1.78-2.674,3.406-4.528,4.723c-0.732,0.52-1.553,0.764-2.325,1.162c-2.658,1.374-5.471,2.26-8.332,2.26    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543C149.395,102.57,147.469,114.064,139.194,119.957z" fill="#FFFFFF"/>
									</g>
								</g>
							</svg>
							Tickets
						</span>
						<span class="tag">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 611.999 611.999" style="enable-background:new 0 0 611.999 611.999;" xml:space="preserve" width="512px" height="512px">
								<g>
									<path d="M216.02,611.195c5.978,3.178,12.284-3.704,8.624-9.4c-19.866-30.919-38.678-82.947-8.706-149.952   c49.982-111.737,80.396-169.609,80.396-169.609s16.177,67.536,60.029,127.585c42.205,57.793,65.306,130.478,28.064,191.029   c-3.495,5.683,2.668,12.388,8.607,9.349c46.1-23.582,97.806-70.885,103.64-165.017c2.151-28.764-1.075-69.034-17.206-119.851   c-20.741-64.406-46.239-94.459-60.992-107.365c-4.413-3.861-11.276-0.439-10.914,5.413c4.299,69.494-21.845,87.129-36.726,47.386   c-5.943-15.874-9.409-43.33-9.409-76.766c0-55.665-16.15-112.967-51.755-159.531c-9.259-12.109-20.093-23.424-32.523-33.073   c-4.5-3.494-11.023,0.018-10.611,5.7c2.734,37.736,0.257,145.885-94.624,275.089c-86.029,119.851-52.693,211.896-40.864,236.826   C153.666,566.767,185.212,594.814,216.02,611.195z" fill="#FFFFFF"/>
								</g>
							</svg>
							Trending
						</span>
					</div>
					<div class="writeup">
						<div class="row up">
							<div class="col-xs-3">
								<div class="icon padLeft">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 314.068 314.068" style="enable-background:new 0 0 314.068 314.068;" xml:space="preserve">
									<g>
										<g id="_x33_56._Play">
											<g>
												<path d="M293.002,78.53C249.646,3.435,153.618-22.296,78.529,21.068C3.434,64.418-22.298,160.442,21.066,235.534     c43.35,75.095,139.375,100.83,214.465,57.47C310.627,249.639,336.371,153.62,293.002,78.53z M219.834,265.801     c-60.067,34.692-136.894,14.106-171.576-45.973C13.568,159.761,34.161,82.935,94.23,48.26     c60.071-34.69,136.894-14.106,171.578,45.971C300.493,154.307,279.906,231.117,219.834,265.801z M213.555,150.652l-82.214-47.949     c-7.492-4.374-13.535-0.877-13.493,7.789l0.421,95.174c0.038,8.664,6.155,12.191,13.669,7.851l81.585-47.103     C221.029,162.082,221.045,155.026,213.555,150.652z" fill="#FFFFFF"/>
											</g>
										</g>
									</g>
								</svg>
								</div>
							</div>
							<div class="col-xs-9">
								<h4 class="thin">Fashion Week</h4>
								<p>This is some dummy text in box three
								</p>
								<p class="thin link-para">Max Fashion House
								</p>
							</div>
						</div>
					</div>
					<hr class="padTop"/>
					<div class="comments">
						<div class="pull-right">
							<span class="light comment c-act">400 Comments</span>
							<span class="light comment">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="512px" height="512px">
									<g>
										<g>
											<path d="m64.7,36.3c-28.4,0-55.9,27.1-57,28.3-0.8,0.8-1.2,1.8-1.2,2.9s0.4,2.1 1.2,2.9c1.2,1.2 28.6,28.3 57,28.3s55.9-27.1 57-28.3c0.8-0.8 1.2-1.8 1.2-2.9s-0.4-2.1-1.2-2.9c-1.1-1.2-28.5-28.3-57-28.3zm0,54.1c-19.9,0-40.4-16.2-48.1-23 7.7-6.8 28.2-23 48.1-23s40.4,16.2 48.1,23c-7.7,6.8-28.2,23-48.1,23z" fill="#FFFFFF"/>
											<path d="m50,67.4c0,8.1 6.6,14.8 14.8,14.8s14.8-6.6 14.8-14.8-6.6-14.8-14.8-14.8-14.8,6.7-14.8,14.8zm21.3,0c0,3.6-2.9,6.6-6.6,6.6-3.6,0-6.6-2.9-6.6-6.6s2.9-6.6 6.6-6.6c3.6,0.1 6.6,3 6.6,6.6z" fill="#FFFFFF"/>
										</g>
									</g>
								</svg>
								900
						</span>
					</div>
					</div>
			</div>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div style="background-image: url(assets/img/thumbnails/4.png)" class="thumb">
					<div class="details">
					<div class="tags">
						<span class="tag">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 469.962 469.962" style="enable-background:new 0 0 469.962 469.962;" xml:space="preserve" width="512px" height="512px">
								<g>
									<g>
										<path d="M419.304,232.221c0.772,0.333,1.447,0.78,2.146,1.203l6.08-13.941    c-0.788-0.228-1.577-0.415-2.349-0.756c-9.315-4.064-13.567-14.908-9.51-24.215l-34.311-14.965l37.4,52.502    C418.939,232.124,419.126,232.148,419.304,232.221z" fill="#FFFFFF"/>
										<path d="M9.535,242.195l208.181,90.78L90.617,154.561l-4.715-6.617l6.617-4.715    c4.609-3.284,5.69-9.714,2.406-14.323l-4.715-6.625l6.617-4.715l11.99-8.543l6.625-4.715l4.715,6.617    c1.926,2.699,5.056,4.316,8.381,4.316c2.138,0,4.194-0.658,5.942-1.91c2.235-1.593,3.715-3.959,4.17-6.665    c0.455-2.707-0.171-5.422-1.764-7.657l-4.715-6.617l6.617-4.715l11.99-8.543l0.122-0.089L91.902,53.319    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536L0,217.98C9.34,222.036,13.599,232.88,9.535,242.195z" fill="#FFFFFF"/>
										<path d="M139.194,119.957c-3.235,2.309-6.966,3.414-10.657,3.414c-5.747,0-11.413-2.682-14.997-7.722    l-11.99,8.535c5.893,8.275,3.967,19.761-4.308,25.662l134.959,189.445l9.169,12.868l9.161,12.859l51.657,72.515    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.662c3.235-2.309,6.966-3.414,10.657-3.414    c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853    c-5.893-8.275-3.967-19.761,4.308-25.654c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722    c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654l-41.984-58.932l-2.91-4.081l-0.39-0.545    l-10.835-15.209l-5.69-7.99l-41.309-57.989l-9.161-12.859l-9.169-12.868L265.057,30.291c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c5.893,8.275,3.967,19.761-4.308,25.654c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c2.869,4.032,3.853,8.828,3.186,13.363c-0.398,2.699-1.414,5.275-2.967,7.576    c-1.195,1.78-2.674,3.406-4.528,4.723c-0.732,0.52-1.553,0.764-2.325,1.162c-2.658,1.374-5.471,2.26-8.332,2.26    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543C149.395,102.57,147.469,114.064,139.194,119.957z" fill="#FFFFFF"/>
									</g>
								</g>
							</svg>
							Tickets
						</span>
						<span class="tag">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 611.999 611.999" style="enable-background:new 0 0 611.999 611.999;" xml:space="preserve" width="512px" height="512px">
								<g>
									<path d="M216.02,611.195c5.978,3.178,12.284-3.704,8.624-9.4c-19.866-30.919-38.678-82.947-8.706-149.952   c49.982-111.737,80.396-169.609,80.396-169.609s16.177,67.536,60.029,127.585c42.205,57.793,65.306,130.478,28.064,191.029   c-3.495,5.683,2.668,12.388,8.607,9.349c46.1-23.582,97.806-70.885,103.64-165.017c2.151-28.764-1.075-69.034-17.206-119.851   c-20.741-64.406-46.239-94.459-60.992-107.365c-4.413-3.861-11.276-0.439-10.914,5.413c4.299,69.494-21.845,87.129-36.726,47.386   c-5.943-15.874-9.409-43.33-9.409-76.766c0-55.665-16.15-112.967-51.755-159.531c-9.259-12.109-20.093-23.424-32.523-33.073   c-4.5-3.494-11.023,0.018-10.611,5.7c2.734,37.736,0.257,145.885-94.624,275.089c-86.029,119.851-52.693,211.896-40.864,236.826   C153.666,566.767,185.212,594.814,216.02,611.195z" fill="#FFFFFF"/>
								</g>
							</svg>
							Trending
						</span>
					</div>
					<div class="writeup">
						<div class="row up">
							<div class="col-xs-3">
								<div class="icon padLeft">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 314.068 314.068" style="enable-background:new 0 0 314.068 314.068;" xml:space="preserve">
									<g>
										<g id="_x33_56._Play">
											<g>
												<path d="M293.002,78.53C249.646,3.435,153.618-22.296,78.529,21.068C3.434,64.418-22.298,160.442,21.066,235.534     c43.35,75.095,139.375,100.83,214.465,57.47C310.627,249.639,336.371,153.62,293.002,78.53z M219.834,265.801     c-60.067,34.692-136.894,14.106-171.576-45.973C13.568,159.761,34.161,82.935,94.23,48.26     c60.071-34.69,136.894-14.106,171.578,45.971C300.493,154.307,279.906,231.117,219.834,265.801z M213.555,150.652l-82.214-47.949     c-7.492-4.374-13.535-0.877-13.493,7.789l0.421,95.174c0.038,8.664,6.155,12.191,13.669,7.851l81.585-47.103     C221.029,162.082,221.045,155.026,213.555,150.652z" fill="#FFFFFF"/>
											</g>
										</g>
									</g>
								</svg>
								</div>
							</div>
							<div class="col-xs-9">
								<h4 class="thin">Fashion Week</h4>
								<p>This is some dummy text in box three
								</p>
								<p class="thin link-para">Max Fashion House
								</p>
							</div>
						</div>
					</div>
					<hr class="padTop"/>
					<div class="comments">
						<div class="pull-right">
							<span class="light comment c-act">400 Comments</span>
							<span class="light comment">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="512px" height="512px">
									<g>
										<g>
											<path d="m64.7,36.3c-28.4,0-55.9,27.1-57,28.3-0.8,0.8-1.2,1.8-1.2,2.9s0.4,2.1 1.2,2.9c1.2,1.2 28.6,28.3 57,28.3s55.9-27.1 57-28.3c0.8-0.8 1.2-1.8 1.2-2.9s-0.4-2.1-1.2-2.9c-1.1-1.2-28.5-28.3-57-28.3zm0,54.1c-19.9,0-40.4-16.2-48.1-23 7.7-6.8 28.2-23 48.1-23s40.4,16.2 48.1,23c-7.7,6.8-28.2,23-48.1,23z" fill="#FFFFFF"/>
											<path d="m50,67.4c0,8.1 6.6,14.8 14.8,14.8s14.8-6.6 14.8-14.8-6.6-14.8-14.8-14.8-14.8,6.7-14.8,14.8zm21.3,0c0,3.6-2.9,6.6-6.6,6.6-3.6,0-6.6-2.9-6.6-6.6s2.9-6.6 6.6-6.6c3.6,0.1 6.6,3 6.6,6.6z" fill="#FFFFFF"/>
										</g>
									</g>
								</svg>
								900
						</span>
					</div>
					</div>
			</div>
			</div>
			</div>
			<div class="col-sm-3">
				<div style="background-color: #fb4161" class="thumb">
					<div class="details">
						<div class="tags">
							<span class="tag">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 469.962 469.962" style="enable-background:new 0 0 469.962 469.962;" xml:space="preserve" width="512px" height="512px">
									<g>
										<g>
											<path d="M419.304,232.221c0.772,0.333,1.447,0.78,2.146,1.203l6.08-13.941    c-0.788-0.228-1.577-0.415-2.349-0.756c-9.315-4.064-13.567-14.908-9.51-24.215l-34.311-14.965l37.4,52.502    C418.939,232.124,419.126,232.148,419.304,232.221z" fill="#FFFFFF"/>
											<path d="M9.535,242.195l208.181,90.78L90.617,154.561l-4.715-6.617l6.617-4.715    c4.609-3.284,5.69-9.714,2.406-14.323l-4.715-6.625l6.617-4.715l11.99-8.543l6.625-4.715l4.715,6.617    c1.926,2.699,5.056,4.316,8.381,4.316c2.138,0,4.194-0.658,5.942-1.91c2.235-1.593,3.715-3.959,4.17-6.665    c0.455-2.707-0.171-5.422-1.764-7.657l-4.715-6.617l6.617-4.715l11.99-8.543l0.122-0.089L91.902,53.319    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536L0,217.98C9.34,222.036,13.599,232.88,9.535,242.195z" fill="#FFFFFF"/>
											<path d="M139.194,119.957c-3.235,2.309-6.966,3.414-10.657,3.414c-5.747,0-11.413-2.682-14.997-7.722    l-11.99,8.535c5.893,8.275,3.967,19.761-4.308,25.662l134.959,189.445l9.169,12.868l9.161,12.859l51.657,72.515    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.662c3.235-2.309,6.966-3.414,10.657-3.414    c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853    c-5.893-8.275-3.967-19.761,4.308-25.654c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722    c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654l-41.984-58.932l-2.91-4.081l-0.39-0.545    l-10.835-15.209l-5.69-7.99l-41.309-57.989l-9.161-12.859l-9.169-12.868L265.057,30.291c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c5.893,8.275,3.967,19.761-4.308,25.654c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c2.869,4.032,3.853,8.828,3.186,13.363c-0.398,2.699-1.414,5.275-2.967,7.576    c-1.195,1.78-2.674,3.406-4.528,4.723c-0.732,0.52-1.553,0.764-2.325,1.162c-2.658,1.374-5.471,2.26-8.332,2.26    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543C149.395,102.57,147.469,114.064,139.194,119.957z" fill="#FFFFFF"/>
										</g>
									</g>
								</svg>
								Tickets
							</span>
							<span class="tag">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 611.999 611.999" style="enable-background:new 0 0 611.999 611.999;" xml:space="preserve" width="512px" height="512px">
									<g>
										<path d="M216.02,611.195c5.978,3.178,12.284-3.704,8.624-9.4c-19.866-30.919-38.678-82.947-8.706-149.952   c49.982-111.737,80.396-169.609,80.396-169.609s16.177,67.536,60.029,127.585c42.205,57.793,65.306,130.478,28.064,191.029   c-3.495,5.683,2.668,12.388,8.607,9.349c46.1-23.582,97.806-70.885,103.64-165.017c2.151-28.764-1.075-69.034-17.206-119.851   c-20.741-64.406-46.239-94.459-60.992-107.365c-4.413-3.861-11.276-0.439-10.914,5.413c4.299,69.494-21.845,87.129-36.726,47.386   c-5.943-15.874-9.409-43.33-9.409-76.766c0-55.665-16.15-112.967-51.755-159.531c-9.259-12.109-20.093-23.424-32.523-33.073   c-4.5-3.494-11.023,0.018-10.611,5.7c2.734,37.736,0.257,145.885-94.624,275.089c-86.029,119.851-52.693,211.896-40.864,236.826   C153.666,566.767,185.212,594.814,216.02,611.195z" fill="#FFFFFF"/>
									</g>
								</svg>
								Trending
							</span>
						</div>
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-3">
									<div class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="512px" height="512px">
											<g>
												<g>
													<path d="M28,7V3H0v22c0,0,0,4,4,4h25c0,0,3-0.062,3-4V7H28z M4,27c-2,0-2-2-2-2V5h24v20    c0,0.921,0.284,1.559,0.676,2H4z" fill="#FFFFFF"/>
													<rect x="4" y="9" width="20" height="2" fill="#FFFFFF"/>
													<rect x="15" y="21" width="7" height="2" fill="#FFFFFF"/>
													<rect x="15" y="17" width="9" height="2" fill="#FFFFFF"/>
													<rect x="15" y="13" width="9" height="2" fill="#FFFFFF"/>
													<rect x="4" y="13" width="9" height="10" fill="#FFFFFF"/>
												</g>
											</g>
										</svg>
									</div>
								</div>
								<div class="col-xs-9">
									<h4 class="thin">Fashion Week</h4>
									<p>This is some dummy text in box three
									</p>
									<p class="thin link-para">Max Fashion House
									</p>
								</div>
							</div>
						</div>
						<hr />
						<div class="comments">
							<div class="pull-right">
								<span class="light comment c-act">400 Comments</span>
								<span class="light comment">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="512px" height="512px">
										<g>
											<g>
												<path d="m64.7,36.3c-28.4,0-55.9,27.1-57,28.3-0.8,0.8-1.2,1.8-1.2,2.9s0.4,2.1 1.2,2.9c1.2,1.2 28.6,28.3 57,28.3s55.9-27.1 57-28.3c0.8-0.8 1.2-1.8 1.2-2.9s-0.4-2.1-1.2-2.9c-1.1-1.2-28.5-28.3-57-28.3zm0,54.1c-19.9,0-40.4-16.2-48.1-23 7.7-6.8 28.2-23 48.1-23s40.4,16.2 48.1,23c-7.7,6.8-28.2,23-48.1,23z" fill="#FFFFFF"/>
												<path d="m50,67.4c0,8.1 6.6,14.8 14.8,14.8s14.8-6.6 14.8-14.8-6.6-14.8-14.8-14.8-14.8,6.7-14.8,14.8zm21.3,0c0,3.6-2.9,6.6-6.6,6.6-3.6,0-6.6-2.9-6.6-6.6s2.9-6.6 6.6-6.6c3.6,0.1 6.6,3 6.6,6.6z" fill="#FFFFFF"/>
											</g>
										</g>
									</svg>
									900
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div style="background-image: url(assets/img/thumbnails/5.png)" class="thumb">
					<div class="details">
						<div class="tags">
							<span class="tag">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 469.962 469.962" style="enable-background:new 0 0 469.962 469.962;" xml:space="preserve" width="512px" height="512px">
									<g>
										<g>
											<path d="M419.304,232.221c0.772,0.333,1.447,0.78,2.146,1.203l6.08-13.941    c-0.788-0.228-1.577-0.415-2.349-0.756c-9.315-4.064-13.567-14.908-9.51-24.215l-34.311-14.965l37.4,52.502    C418.939,232.124,419.126,232.148,419.304,232.221z" fill="#FFFFFF"/>
											<path d="M9.535,242.195l208.181,90.78L90.617,154.561l-4.715-6.617l6.617-4.715    c4.609-3.284,5.69-9.714,2.406-14.323l-4.715-6.625l6.617-4.715l11.99-8.543l6.625-4.715l4.715,6.617    c1.926,2.699,5.056,4.316,8.381,4.316c2.138,0,4.194-0.658,5.942-1.91c2.235-1.593,3.715-3.959,4.17-6.665    c0.455-2.707-0.171-5.422-1.764-7.657l-4.715-6.617l6.617-4.715l11.99-8.543l0.122-0.089L91.902,53.319    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536l-5.885,13.493c9.315,4.064,13.575,14.9,9.51,24.215    c-3.016,6.917-9.779,11.047-16.875,11.047c-2.455,0-4.95-0.496-7.348-1.536L0,217.98C9.34,222.036,13.599,232.88,9.535,242.195z" fill="#FFFFFF"/>
											<path d="M139.194,119.957c-3.235,2.309-6.966,3.414-10.657,3.414c-5.747,0-11.413-2.682-14.997-7.722    l-11.99,8.535c5.893,8.275,3.967,19.761-4.308,25.662l134.959,189.445l9.169,12.868l9.161,12.859l51.657,72.515    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.662c3.235-2.309,6.966-3.414,10.657-3.414    c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853    c-5.893-8.275-3.967-19.761,4.308-25.654c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722    c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654    c3.235-2.309,6.966-3.414,10.657-3.414c5.747,0,11.413,2.682,14.997,7.722c0.488,0.683,0.837,1.414,1.219,2.138l12.388-8.828    c-0.561-0.593-1.138-1.171-1.626-1.853c-5.893-8.275-3.967-19.761,4.308-25.654l-41.984-58.932l-2.91-4.081l-0.39-0.545    l-10.835-15.209l-5.69-7.99l-41.309-57.989l-9.161-12.859l-9.169-12.868L265.057,30.291c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c5.893,8.275,3.967,19.761-4.308,25.654c-3.235,2.309-6.966,3.414-10.657,3.414    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543c2.869,4.032,3.853,8.828,3.186,13.363c-0.398,2.699-1.414,5.275-2.967,7.576    c-1.195,1.78-2.674,3.406-4.528,4.723c-0.732,0.52-1.553,0.764-2.325,1.162c-2.658,1.374-5.471,2.26-8.332,2.26    c-5.747,0-11.413-2.682-14.997-7.722l-11.99,8.543C149.395,102.57,147.469,114.064,139.194,119.957z" fill="#FFFFFF"/>
										</g>
									</g>
								</svg>
								Tickets
							</span>
							<span class="tag">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 611.999 611.999" style="enable-background:new 0 0 611.999 611.999;" xml:space="preserve" width="512px" height="512px">
									<g>
										<path d="M216.02,611.195c5.978,3.178,12.284-3.704,8.624-9.4c-19.866-30.919-38.678-82.947-8.706-149.952   c49.982-111.737,80.396-169.609,80.396-169.609s16.177,67.536,60.029,127.585c42.205,57.793,65.306,130.478,28.064,191.029   c-3.495,5.683,2.668,12.388,8.607,9.349c46.1-23.582,97.806-70.885,103.64-165.017c2.151-28.764-1.075-69.034-17.206-119.851   c-20.741-64.406-46.239-94.459-60.992-107.365c-4.413-3.861-11.276-0.439-10.914,5.413c4.299,69.494-21.845,87.129-36.726,47.386   c-5.943-15.874-9.409-43.33-9.409-76.766c0-55.665-16.15-112.967-51.755-159.531c-9.259-12.109-20.093-23.424-32.523-33.073   c-4.5-3.494-11.023,0.018-10.611,5.7c2.734,37.736,0.257,145.885-94.624,275.089c-86.029,119.851-52.693,211.896-40.864,236.826   C153.666,566.767,185.212,594.814,216.02,611.195z" fill="#FFFFFF"/>
									</g>
								</svg>
								Trending
							</span>
						</div>
						<div class="writeup">
							<div class="row up">
								<div class="col-xs-3">
									<div class="icon">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 314.068 314.068" style="enable-background:new 0 0 314.068 314.068;" xml:space="preserve">
											<g>
												<g id="_x33_56._Play">
													<g>
														<path d="M293.002,78.53C249.646,3.435,153.618-22.296,78.529,21.068C3.434,64.418-22.298,160.442,21.066,235.534     c43.35,75.095,139.375,100.83,214.465,57.47C310.627,249.639,336.371,153.62,293.002,78.53z M219.834,265.801     c-60.067,34.692-136.894,14.106-171.576-45.973C13.568,159.761,34.161,82.935,94.23,48.26     c60.071-34.69,136.894-14.106,171.578,45.971C300.493,154.307,279.906,231.117,219.834,265.801z M213.555,150.652l-82.214-47.949     c-7.492-4.374-13.535-0.877-13.493,7.789l0.421,95.174c0.038,8.664,6.155,12.191,13.669,7.851l81.585-47.103     C221.029,162.082,221.045,155.026,213.555,150.652z" fill="#FFFFFF"/>
													</g>
												</g>
											</g>
										</svg>
									</div>
								</div>
								<div class="col-xs-9">
									<h4 class="thin">Fashion Week</h4>
									<p>This is some dummy text in box three
									</p>
									<p class="thin link-para">Max Fashion House
									</p>
								</div>
							</div>
						</div>
						<hr />
						<div class="comments">
							<div class="pull-right">
								<span class="light comment c-act">400 Comments</span>
								<span class="light comment">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="512px" height="512px">
										<g>
											<g>
												<path d="m64.7,36.3c-28.4,0-55.9,27.1-57,28.3-0.8,0.8-1.2,1.8-1.2,2.9s0.4,2.1 1.2,2.9c1.2,1.2 28.6,28.3 57,28.3s55.9-27.1 57-28.3c0.8-0.8 1.2-1.8 1.2-2.9s-0.4-2.1-1.2-2.9c-1.1-1.2-28.5-28.3-57-28.3zm0,54.1c-19.9,0-40.4-16.2-48.1-23 7.7-6.8 28.2-23 48.1-23s40.4,16.2 48.1,23c-7.7,6.8-28.2,23-48.1,23z" fill="#FFFFFF"/>
												<path d="m50,67.4c0,8.1 6.6,14.8 14.8,14.8s14.8-6.6 14.8-14.8-6.6-14.8-14.8-14.8-14.8,6.7-14.8,14.8zm21.3,0c0,3.6-2.9,6.6-6.6,6.6-3.6,0-6.6-2.9-6.6-6.6s2.9-6.6 6.6-6.6c3.6,0.1 6.6,3 6.6,6.6z" fill="#FFFFFF"/>
											</g>
										</g>
									</svg>
									900
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
