<div class="text-center">
  <p class="pull-right close" ng-click="$close()">&times;</p>
  <h2 class="thin">Unblock Account?</h2>
  <br /><br />
  <p class="light">
    Are you sure you want to activate thi account?
  </p>
</div>
  <br /><br />
  <div class="text-center">
    <button type="submit" class="btn cancel" ng-click="$close()">Cancel</button>
    <button class="btn" ng-click="open.unbanUser() && $close()">Yes, Activate</button>
  </div>
