<section class="container-fluid content">
		<section class="upload">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<br />
						<h2 class="text-center thin">Content</h2>
						<br /><br />
						<textarea></textarea>
					</div>
					<div class="col-lg-6 text-center">
						<br />
							<h2 class="thin">Description</h2>
							<br /><br /><br />
							<input type="text" placeholder="Title" />
							<br /><br />
							<input type="text" placeholder="Short Description" />
							<br />
							<select>
								<option selected="selected">Select a category</option>
								<option>Digital TV</option>
								<option>Event</option>
							</select>
							<br /><br /><br />
							<select>
								<option selected="selected">Select a content type</option>
								<option>Standard</option>
								<option>Premium</option>
							</select>
							<br /><br />
							<div class="tickets">
								<input type="checkbox" ng-model="checkTickets"/>
								<span>Tickets Available</span>
								<br /><br />
								<input ng-show="checkTickets" type="number" placeholder="number of tickets available"/>
							</div>
							<br />
							<button class="btn">Upload</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
