<div class="text-center">
  <p class="pull-right close" ng-click="$close()">&times;</p>
  <h2 class="thin">{{modal.heading}}</h2>
  <br /><br />
</div>
  <p class="text-center light">
    {{modal.body}}
  </p>
  <br /><br />
  <div class="text-center">
    <button type="submit" class="btn" ng-click="$close()">Close</button>
  </div>
