<section class="container-fluid content">
		<section class="upload">
				<uib-tabset active="activeForm">
			    <uib-tab index="0" heading="Link">
						<div class="text-center link">
							<br /><br />
							<input type="text" placeholder="Youtube Link"  ng-model="uploadLinkData.url"/>
							<br /><br />
							<input type="text" placeholder="Title" ng-model="uploadLinkData.title"/>
							<br /><br />
							<input type="text" placeholder="Short Description" ng-model="uploadLinkData.desc"/>
							<br />
							<select ng-model="uploadLinkData.category">
								<option selected="selected" value="">Select a category</option>
								<option value="digitaltv">Digital TV</option>
								<option value="event">Event</option>
							</select>
							<br /><br /><br />
							<select ng-model="uploadLinkData.type">
								<option selected="selected" value="">Select a content type</option>
								<option value="free">Free</option>
								<option value="standard">Standard</option>
								<option value="premium">Premium</option>
							</select>
							<br /><br />
							<div class="tickets">
								<input type="checkbox" ng-model="uploadLinkData.ticketsAvailable"/>
								<span>Tickets Available</span>
								<div ng-show="uploadLinkData.ticketsAvailable">
									<br /><br />
									<input type="number" placeholder="number of tickets available" ng-model="uploadLinkData.tickets"/>
									<br /><br />
									<input type="number" placeholder="Price of ticket (₦)" ng-model="uploadLinkData.price"/>
									<br /><br />
									<span>Starts : </span><input  type="date" placeholder="Starts" ng-model="uploadLinkData.starts"/>
									<br /><br />
									<span>Ends : </span><input  type="date" placeholder="Ends" ng-model="uploadLinkData.ends"/>
								</div>
							</div>
							<br />
							<button class="btn" ng-click="uploadData(uploadLinkData)">Upload</button>
						</div>
			    </uib-tab>
			    <uib-tab index="1" heading="Blog Post">
						<div class="row">
							<div class="col-lg-6">
								<br />
								<h3 class="text-center thin">Content</h3>
								<br /><br />
								<div text-angular ng-model="content"></div>
								<!-- <textarea></textarea> -->
							</div>
							<div class="col-lg-6 text-center">
								<br />
									<h3 class="thin">Description</h3>
									<br /><br />
									<input type="text" placeholder="Title" ng-model="uploadLinkData.title"/>
									<br /><br />
									<input type="text" placeholder="Short Description" ng-model="uploadLinkData.desc"/>
									<br />
									<select ng-model="uploadLinkData.category">
										<option selected="selected" value="">Select a category</option>
										<option value="digitaltv">Digital TV</option>
										<option value="event">Event</option>
									</select>
									<br /><br /><br />
									<select ng-model="uploadLinkData.type">
										<option selected="selected" value="">Select a content type</option>
										<option value="free">Free</option>
										<option value="standard">Standard</option>
										<option value="premium">Premium</option>
									</select>
									<br /><br />
									<div class="tickets">
										<input type="checkbox" ng-model="uploadLinkData.ticketsAvailable"/>
										<span>Tickets Available</span>
										<div ng-show="uploadLinkData.ticketsAvailable">
											<br /><br />
											<input type="number" placeholder="number of tickets available" ng-model="uploadLinkData.tickets"/>
											<br /><br />
											<input type="number" placeholder="Price of ticket (₦)" ng-model="uploadLinkData.price"/>
											<br /><br />
											<span>Starts : </span><input  type="date" placeholder="Starts" ng-model="uploadLinkData.starts"/>
											<br /><br />
											<span>Ends : </span><input  type="date" placeholder="Ends" ng-model="uploadLinkData.ends"/>
										</div>
									</div>
									<br />
									<button class="btn" ng-click="uploadData(uploadLinkData, content)">Upload</button>
								</div>
							</div>
						</div>
			    </uib-tab>
		</section>
	</section>
