<section class="container-fluid content" ng-init="getVideoData()">
		<section class="video">
			<div class="display">
					<iframe ng-src="{{videoData.url | trustUrl }}">
					</iframe>
			</div>
			<div class="vid-details">
				<div class="row">
						<h2 class="light">{{videoData.title}}</h2>
						<p class="light">{{videoData.desc}}</p>
						<p class="link-para">{{videoData.user}}</p>
				</div>
				<div class="row">
					<button class="btn" ng-click="followOptions.follow()">{{followOptions.text}}</button>
					<button class="btn" ng-click="commentOptions.showCommentBox = !commentOptions.showCommentBox">Add comment</button>
					<button class="btn" ng-click="likeOptions.like(videoData.likes)"><img src="assets/img/icons/like.svg" alt="like" />Like</button>


					<span class="share-icons">
						<a class="share" ng-href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl | escape}}%2F&amp;src=sdkpreparse" target="_blank" >
							<img src="assets/img/icons/facebook.svg" alt="like" />
						</a>
						<a class="share" ng-href="https://twitter.com/intent/tweet?text=Checkout%3A%20{{videoData.title | escape}}%20at%20&url={{currentUrl | escape}}&via=view234" target="_blank" >
							<img src="assets/img/icons/twitter.svg" alt="like" />
						</a>
					</span>
					<span class="right">
						<span>
							{{videoData.comments}} Comments
						</span>
						<span>•</span>
						<span>
							{{videoData.likes}} Likes
						</span>
						<span>•</span>
						<span>
							{{videoData.views}} Views
						</span>
					</span>
				</div>
				<br />
				<div class="row pad-right">
					<div class="add-comment" ng-show="commentOptions.showCommentBox">
						<textarea ng-model="commentOptions.newComment"></textarea>
						<br /><br />
						<button class="btn" ng-click="commentOptions.addComment()">Add</button>
						<br /><br />
						<hr />
					</div>
					<div class="comment-area">
						<h3 class="thin">Comments</h3>
						<div ng-repeat="comment in videoData.commentsArr">
							<br />
							<p class="comment light">{{comment.comment}}</p>
							<p class="light link-para">
								{{comment.user}}
							</p>
						</div>
					</div>
				</div>
			</div>

		</section>
	</section>
