<div class="text-center">
  <p class="pull-right close" ng-click="$close()">&times;</p>
  <h2 class="thin">Edit Package</h2>
</div>
<br />
<p class="light">Title</p>
<input required type="text" ng-value="packageData.name" ng-model="newdata.name"/>
<br />
<p class="light">Price (₦)</p>
<input required type="number" ng-value="packageData.price" ng-model="newdata.price"/>
<br />
<p class="light">Description</p>
<input required type="text" ng-value="packageData.desc" ng-model="newdata.desc"/>
<br />
<p class="light">Duration (month(s))</p>
<input required type="number" ng-value="packageData.duration" ng-model="newdata.duration"/>
<div class="text-center">
  <button type="submit" class="btn cancel" ng-click="$close()">Cancel</button><button class="btn" ng-click="open.save(packageData.id) && $close()">Save</button>
</div>
