<div class="text-center">
  <p class="pull-right close" ng-click="$close()">&times;</p>
  <h2 class="thin">Edit user</h2>
</div>
<br />
<p class="light">Username</p>
<p class="text-center light">{{userData.name}}</p>
<br />
<p class="light">Description</p>
<p class="text-center light">{{userData.desc}}</p>
<br />
<p class="light">Email</p>
<p class="text-center light">{{userData.email}}</p>
<br />
<p class="light">Acount Type</p>
<p class="text-center light">{{userData.accountType}}</p>
<br />
<p class="light">Status</p>
<span class="radio">
  <label><input type="radio" name="optradio">Active</label>
</span>
<span class="radio">
  <label><input type="radio" name="optradio">Suspended</label>
</span>
<br />
<p class="light">Events Uploaded</p>
<p class="text-center light">{{userData.eventsUploaded}}</p>
<br />
<p class="light">Tickets Sold</p>
<p class="text-center light">{{userData.ticketsSold}}</p>
<br />
<p class="light">Joined</p>
<p class="text-center light">{{userData.joined}}</p>
<br />
<div class="text-center">
  <button type="submit" class="btn cancel" ng-click="$close()">Cancel</button><button class="btn" ng-click="open.save(userData.id) && $close()">Save</button>
</div>
