
<div class="text-center">
  <p class="pull-right close" ng-click="$close()">&times;</p>
  <h2 class="thin">Edit event</h2>
</div>
<br />
<p class="light">Title</p>
<input required type="text" ng-value="eventData.name" ng-model="newdata.name"/>
<!--<br />-->
<!--<p class="light">Link</p>-->
<!--<input required type="text" ng-value="eventData.link" ng-model="newdata.link"/>-->
<p class="light">Description</p>
<input required type="text" ng-value="eventData.description" ng-model="newdata.desc"/>
<br />
<p class="light">Type</p>
<div required type="text" ng-value="eventData.type" ng-model="newdata.type">
<span class="radio">
  <label><input type="radio" name="optradio">Free</label>
</span>
<span class="radio">
  <label><input type="radio" name="optradio">Standard</label>
</span>
<span class="radio">
  <label><input type="radio" name="optradio">Premium</label>
</span>
</div>
<br />
<!--<p class="light">Price (₦)</p>-->
<!--<input required type="number" ng-value="eventData.price" ng-model="newdata.price"/>-->
<!--<br />-->
<!--<p class="light">Tickets</p>-->
<!--<input required type="number" ng-value="eventData.tickets" ng-model="newdata.tickets"/>-->
<!--<br />-->
<p class="light">Date</p>
<input required type="date" ng-value="eventData.date" ng-model="newdata.starts"/>
<br />
<p class="light">Time</p>
<input required type="date" ng-value="eventData.time" ng-model="newdata.ends"/>
<br />
<div class="text-center">
  <button type="submit" class="btn cancel" ng-click="$close()">Cancel</button>
  <button class="btn" ng-click="open.save(eventData.id) && $close()">Save</button>
</div>
