<!doctype html>
<html lang="en">
<head>
	<title>View234</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="View234 - connect, share, achieve.">
	<meta name="keywords" content="events, digital tv, blog, connect, share, achieve" />
	<!-- <base href="/"> -->
	<link rel="shortcut icon" href="favicon.ico">
	<link href="assets/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
	<link href="assets/js/vendor/angular-moment-picker.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
	<script src="https://js.paystack.co/v1/inline.js"></script>
</head>
<body ng-app="app">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '258106814621183',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
	<nav class="navbar navbar-default navbar-fixed-top h-nav" role="navigation" ng-controller="HomeCtrl">
		<div class="nav-wrap">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
				<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-toggle search">
					<input type="text" placeholder="Title, description or channel" ng-model="searchOptions.query" />
					<a href="#/search/{{searchOptions.query}}" class="desktop-search"><span class="glyphicon glyphicon-search"></span></a>
				</div>
        <a class="navbar-brand light" href="#/home" ng-click="switch.current = switch.home">View234</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

        <ul class="nav navbar-nav">
					<li class="dropdown" uib-dropdown keyboard-nav>
            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>Digital tv<span class="caret"></span></a>
            <ul class="dropdown-menu" uib-dropdown-menu>
							<li  ng-click="switch.switcher(switch.digitaltv)">
								<a href="#/digitaltv">All</a>
							</li>
							<li>
								<a>Events</a>
							</li>
							<li>
								<a >Showbiz</a>
							</li>
							<li>
								<a>Style</a>
							</li>
							<li>
								<a>Tech &amp; Innovation</a>
							</li>
							<li>
								<a>Life Hacks</a>
							</li>
							<li>
								<a>Inspirational</a>
							</li>
							<li>
								<a>Trainings</a>
							</li>
							<li>
								<a>Economy &amp; Biz</a>
							</li>
							<li>
								<a>Naija</a>
							</li>
							<li>
								<a>Funny</a>
							</li>
							<li>
								<a>Foreign Trailers</a>
							</li>
							<li>
								<a>Naija Trailers</a>
							</li>
							<li>
								<a>African Trailers</a>
							</li>
							<li>
								<a>Issues</a>
							</li>
							<li>
								<a>Brands</a>
							</li>
							<li>
								<a>Conference</a>
							</li>
							<li>
								<a>Exhibition &amp; Trade Show</a>
							</li>
							<li>
								<a>Seminar &amp; Workshop</a>
							</li>
							<li>
								<a>Academic Events</a>
							</li>
							<li>
								<a>Comedy</a>
							</li>
            </ul>
					</li>
					<li class="dropdown" uib-dropdown keyboard-nav>
						<a href="#/blog" class="dropdown-toggle" uib-dropdown-toggle>Blog<span class="caret"></span></a>
						<ul class="dropdown-menu" uib-dropdown-menu>
							<li>
								<a href="#/blog">All</a>
							</li>
							<li>
								<a>Categories</a>
							</li>
						</ul>
					</li>
					<li class="dropdown" uib-dropdown keyboard-nav>
						<a href="#" class="dropdown-toggle" uib-dropdown-toggle>Events<span class="caret"></span></a>
						<ul class="dropdown-menu" uib-dropdown-menu>
							<li>
								<a href="#/events">All</a>
							</li>
							<li>
								<a>Conference / Seminar</a>
							</li>
							<li>
								<a>Trainings</a>
							</li>
							<li>
								<a>Sports &amp; Fitness</a>
							</li>
							<li>
								<a>Business &amp; Networking</a>
							</li>
							<li>
								<a>Movie Premier</a>
							</li>
							<li>
								<a>Charity &amp; Social Causes</a>
							</li>
							<li>
								<a>Church Event</a>
							</li>
							<li>
								<a>Isamic Event</a>
							</li>
							<li>
								<a>Spirituality</a>
							</li>
							<li>
								<a>Fashion</a>
							</li>
							<li>
								<a>Leisure &amp; Lifestyle</a>
							</li>
							<li>
								<a>Nightlife &amp; Parties</a>
							</li>
							<li>
								<a>Music Concerts</a>
							</li>
							<li>
								<a>Culture &amp; Festivals</a>
							</li>
							<li>
								<a>Brands</a>
							</li>
							<li>
								<a>Conference</a>
							</li>
							<li>
								<a>Exhibition &amp; Trade Show</a>
							</li>
							<li>
								<a>Seminar &amp; Workshop</a>
							</li>
							<li>
								<a>Academic Events</a>
							</li>
							<li>
								<a>Comedy</a>
							</li>
						</ul>
					</li>
					<li class="dropdown" uib-dropdown keyboard-nav>
						<a href="#" class="dropdown-toggle" uib-dropdown-toggle>Trending<span class="caret"></span></a>
						<ul class="dropdown-menu" uib-dropdown-menu>
							<li><a href="#/trending">All</a></li>
							<li><a href="#">Digital tv</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Events</a></li>
						</ul>
					</li>
					<li class="dropdown" uib-dropdown keyboard-nav>
						<a href="#" class="dropdown-toggle" uib-dropdown-toggle>More<span class="caret"></span></a>
						<ul class="dropdown-menu" uib-dropdown-menu>
							<li><a href="#">Special services</a></li>
							<li><a href="#/about">About</a></li>
							<li><a href="#/contact">Contact</a></li>
							<li><a href="#/terms">Terms &amp; Conditions</a></li>
						</ul>
					</li>
					<!-- <li><a href="#/upload" class="blue-btn">Upload</a></li> -->
        </ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="desktop-search-item">
						<div class="search">
						<input type="text" placeholder="Title, description or channel" ng-model="searchOptions.query" />
						<a href="#/search/{{searchOptions.query}}" class="desktop-search"><span class="glyphicon glyphicon-search"></span></a>
					</div>
					</li>
					<li><a class="signin" ng-hide="user.auth" ng-click="openModal.open('auth')">Sign in / Sign up</a></li>
					<li class="dropdown" ng-show="user.auth" uib-dropdown keyboard-nav>
						<a href="#" class="dropdown-toggle" uib-dropdown-toggle>Guest<span class="caret"></span></a>
						<ul class="dropdown-menu" uib-dropdown-menu>
							<li><a href="#/channel">View channel</a></li>
							<li>
								<a ng-click="openModal.open('editChannel')">Edit channel</a>
							</li>
							<li><a href="#/statistics">Statistics</a></li>
							<li ng-show="role"><a href="#/manage_packages">Manage packages</a></li>
							<li><a href="#/manage-events">Manage events</a></li>
							<li ng-show="role" ><a href="#/manage-users">Manage users</a></li>
							<li><a href="#/manage_feeds">Manage feeds</a></li>
						</ul>
					</li>
					<li ng-show="user.type !== 'premium' && user.auth"><a href="#/pricing" class="purple-text">Pricing</a></li>
				</ul>
      </div>
		</div>
  </nav>

	<!-- <nav class="v-nav">
		<h2 class="thin text-center">234Central</h2>
		<ul>
			<li>
				<a href="#">
					<span><img class="icon" src="assets/img/icons/digitaltv.svg" alt="digitaltv" /></span>
					Digital tv
				</a>
			</li>
			<li>
				<a href="#/events">
					<span><img class="icon" src="assets/img/icons/event.svg" alt="Events" /></span>
					Events
				</a>
			</li>
			<li>
				<a href="#/blog">
					<span><img class="icon" src="assets/img/icons/blog.svg" alt="Blog" /></span>
					Blog
				</a>
			</li>
			<li>
				<a href="#">
					<span><img class="icon" src="assets/img/icons/trending.svg" alt="Trending" /></span>
					Trending
				</a>
			</li>
			<li>
				<a href="#">
					<span><img class="icon" src="assets/img/icons/more.svg" alt="more" /></span>
					More
				</a>
			</li>
		</ul>
	</nav> -->
	<nav class="v-nav" ng-controller="HomeCtrl">
		<div class="icon-nav">
			<div class="icon-wrapper">
			<ul>
				<li ng-class="switch.current === '' || switch.current === 'Home' ? 'active' : ''">
					<a href="#/home" uib-tooltip="Home" tooltip-trigger="focus" ng-click="switch.switcher(switch.home)"><img src="assets/img/icons/home.svg"  alt="home"/></a>
					<!-- <span class="hint">Home</span> -->
				</li>
				<li ng-class="switch.current === 'Events' ? 'active' : ''">
					<a href="#/events" uib-tooltip="Events" tooltip-trigger="focus" ng-click="switch.switcher(switch.events)"><img src="assets/img/icons/event.svg"  alt="events"/></a>
				</li>
				<li ng-class="switch.current === 'Digital TV' ? 'active' : ''">
					<a href="#/digitaltv" uib-tooltip="Digital TV" tooltip-trigger="focus" ng-click="switch.switcher(switch.digitaltv)"><img src="assets/img/icons/digitaltv.svg"  alt="digitaltv"/></a>
				</li>
				<li ng-class="switch.current === 'Blog' ? 'active' : ''">
					<a href="#/blog" uib-tooltip="Blog" tooltip-trigger="focus" ng-click="switch.switcher(switch.blog)"><img src="assets/img/icons/blog.svg"  alt="blog"/></a>
				</li>
				<li ng-class="switch.current === 'Trending' ? 'active' : ''">
					<a href="#/trending" uib-tooltip="Trending" tooltip-trigger="focus" ng-click="switch.switcher(switch.trending)"><img src="assets/img/icons/trending.svg"  alt="trending"/></a>
				</li>
				<!-- <li ng-class="switch.current === 'Upload' ? 'active' : ''">
					<a href="#/upload" uib-tooltip="Upload" tooltip-trigger="focus" ng-click="switch.switcher(switch.upload)"><img src="assets/img/icons/upload.svg"  alt="upload"/></a>
				</li> -->
				<li ng-class="switch.current === 'Search' ? 'active' : ''">
					<a uib-tooltip="Search" tooltip-trigger="focus" ng-click="switch.switcher(switch.search)"><img src="assets/img/icons/search.svg"  alt="search"/></a>
				</li>
				<li ng-class="switch.current === 'More' ? 'active' : ''">
					<a uib-tooltip="More" tooltip-trigger="focus" ng-click="switch.switcher(switch.more)"><img src="assets/img/icons/more.svg"  alt="more"/></a>
				</li>
			</ul>
			</div>
		</div>
		<div class="nav-details" ng-switch="switch.current">
			<div class="details-wrapper" ng-switch-default>
				<div class="Home">
				<header class="text-center">
					<h1 class="thin">View234</h1>
				</header>
				<p>
					234 is Nigeria’s country code, thus 234Central has been created to serve as Nigeria’s No. 1 online social-support space for trendy and enterprising youths to Connect, Share and Achieve, by leveraging on the platform resources and inherent access.
				</p>
				<ul ng-switch="user.auth">
					<li ng-switch-when="true">
						<a href="#/statistics">Statistics</a>
					</li>
					<li ng-switch-when="true">
						<a href="#/manage-events">Manage Events</a>
					</li>
					<li ng-show="rolw" ng-switch-when="true">
						<a href="#/manage-users">Manage Users</a>
					</li>
					<ling-show="role"  ng-switch-when="true">
						<a href="#/manage_packages">Manage Packages</a>
					</li>
					<li ng-switch-when="true">
						<a href="#/manage_feeds">Manage Feeds</a>
					</li>
					<li class="b-reduce" ng-switch-when="false">
						<a href="#/signin">Sign In</a>
					</li>
					<li class="b-reduce" ng-switch-when="true">
						<a href="/">Sign Out</a>
					</li>
					<li>
						<a ng-click="open('signin')" ng-switch-when="false">Sign Up</a>
					</li>
					<li ng-show="user.type !== 'premium' && user.auth">
						<a href="#/pricing">Pricing</a>
					</li>
				</ul>
				</div>
			</div>
			<div class="details-wrapper" ng-switch-when="Home">
				<div class="home">
				<header class="text-center">
					<h1 class="thin">View234</h1>
				</header>
				<p class="light">
					234 is Nigeria’s country code, thus 234Central has been created to serve as Nigeria’s No. 1 online social-support space for trendy and enterprising youths to Connect, Share and Achieve, by leveraging on the platform resources and inherent access..
				</p>
				<ul ng-switch="user.auth">
					<li ng-switch-when="true">
						<a href="#/statistics" authenticate-directive>Statistics</a>
					</li>
					<li ng-switch-when="true">
						<a href="#/manage-events" authenticate-directive>Manage Events</a>
					</li>
					<li ng-show="role" ng-switch-when="true">
						<a href="#/manage-users" authenticate-directive>Manage Users</a>
					</li>
					<li ng-show="role" ng-switch-when="true">
						<a href="#/manage_packages" authenticate-directive>Manage Packages</a>
					</li>
					<li ng-switch-when="true">
						<a href="#/manage_feeds" authenticate-directive>Manage Feeds</a>
					</li>
					<li class="b-reduce" ng-switch-when="false" authenticate-directive>
						<a href="#/home" ng-click="openModal.open('auth', 0, 1)">Sign In</a>
					</li>
					<li ng-switch-when="false" authenticate-directive>
						<a href="#/home" ng-click="openModal.open('auth', 1, 0)">Sign Up</a>
					</li>
					<li ng-show="user.type !== 'premium' && user.auth">
						<a href="#/pricing">Pricing</a>
					</li>
					<li class="b-reduce" ng-switch-when="true" authenticate-directive>
						<a href="#/home" ng-click="user.logout()">Sign Out</a>
					</li>
				</ul>
				</div>
			</div>

			<div class="details-wrapper" ng-switch-when="Events">
				<div class="home">
				<header class="text-center">
					<h1 class="thin">Events</h1>
				</header>
				<ul>
					<li class="b-reduce">
						<a href="#/events">All</a>
					</li>
					<li class="b-reduce">
						<a ng-click="switch.isCollapsed = !switch.isCollapsed">Categories
							<img class="pull-pad-right" src="assets/img/icons/down.svg" alt="down" />
						</a>
					</li>
					<ul uib-collapse="switch.isCollapsed">
						<li class="b-reduce">
							<a>Conference / Seminar</a>
						</li>
						<li>
							<a>Trainings</a>
						</li>
						<li>
							<a>Sports &amp; Fitness</a>
						</li>
						<li>
							<a>Business &amp; Networking</a>
						</li>
						<li>
							<a>Movie Premier</a>
						</li>
						<li>
							<a>Charity &amp; Social Causes</a>
						</li>
						<li>
							<a>Church Event</a>
						</li>
						<li>
							<a>Isamic Event</a>
						</li>
						<li>
							<a>Spirituality</a>
						</li>
						<li>
							<a>Fashion</a>
						</li>
						<li>
							<a>Leisure &amp; Lifestyle</a>
						</li>
						<li>
							<a>Nightlife &amp; Parties</a>
						</li>
						<li>
							<a>Music Concerts</a>
						</li>
						<li>
							<a>Culture &amp; Festivals</a>
						</li>
						<li>
							<a>Brands</a>
						</li>
						<li>
							<a>Conference</a>
						</li>
						<li>
							<a>Exhibition &amp; Trade Show</a>
						</li>
						<li>
							<a>Seminar &amp; Workshop</a>
						</li>
						<li>
							<a>Academic Events</a>
						</li>
						<li>
							<a>Comedy</a>
						</li>
					</ul>
				</ul>
				</div>
			</div>
			<div class="details-wrapper" ng-switch-when="Digital TV">
			<div class="home">
			<header class="text-center">
				<h1 class="thin">Digital TV</h1>
			</header>
			<ul>
				<li class="b-reduce">
					<a href="#">All</a>
				</li>
				<li class="b-reduce">
					<a ng-click="switch.isCollapsed = !switch.isCollapsed">Categories
						<img class="pull-pad-right" src="assets/img/icons/down.svg" alt="down" />
					</a>
				</li>
				<ul uib-collapse="switch.isCollapsed">
					<li class="b-reduce">
						<a>Events</a>
					</li>
					<li>
						<a >Showbiz</a>
					</li>
					<li>
						<a>Style</a>
					</li>
					<li>
						<a>Tech &amp; Innovation</a>
					</li>
					<li>
						<a>Life Hacks</a>
					</li>
					<li>
						<a>Inspirational</a>
					</li>
					<li>
						<a>Trainings</a>
					</li>
					<li>
						<a>Economy &amp; Biz</a>
					</li>
					<li>
						<a>Naija</a>
					</li>
					<li>
						<a>Funny</a>
					</li>
					<li>
						<a>Foreign Trailers</a>
					</li>
					<li>
						<a>Naija Trailers</a>
					</li>
					<li>
						<a>African Trailers</a>
					</li>
					<li>
						<a>Issues</a>
					</li>
					<li>
						<a>Brands</a>
					</li>
					<li>
						<a>Conference</a>
					</li>
					<li>
						<a>Exhibition &amp; Trade Show</a>
					</li>
					<li>
						<a>Seminar &amp; Workshop</a>
					</li>
					<li>
						<a>Academic Events</a>
					</li>
					<li>
						<a>Comedy</a>
					</li>
				</ul>
			</ul>
			</div>
			</div>

			<div class="details-wrapper" ng-switch-when="Blog">
				<div class="home">
				<header class="text-center">
					<h1 class="thin">Blog</h1>
				</header>
				<ul>
					<li class="b-reduce">
						<a href="#/blog">All</a>
					</li>
					<li class="b-reduce">
						<a ng-click="switch.isCollapsed = !switch.isCollapsed">Categories
							<img class="pull-pad-right" src="assets/img/icons/down.svg" alt="down" />
						</a>
					</li>
					<ul uib-collapse="switch.isCollapsed">
						<li class="b-reduce">
							<a>Events</a>
						</li>
					</ul>
				</ul>
				</div>
			</div>

			<div class="details-wrapper" ng-switch-when="Trending">
				<div class="home">
				<header class="text-center">
					<h1 class="thin">Trending</h1>
				</header>
				<ul>
					<li>
						<a>Digital TV</a>
					</li>
					<li>
						<a>Blog</a>
					</li>
					<li class="b-reduce">
						<a href="#">Events</a>
					</li>
				</ul>
				</div>
			</div>

			<div class="details-wrapper" ng-switch-when="Search">
				<div class="home">
				<header class="text-center">
					<h1 class="thin">Search</h1>
				</header>
				<br /><br />
				<input type="text" placeholder="Search"/>
				<br />
				<ul>
					<li>
						<a>Digital TV</a>
					</li>
					<li>
						<a>Blog</a>
					</li>
					<li class="b-reduce">
						<a href="#">Events</a>
					</li>
				</ul>
				</div>
			</div>

			<!-- <div class="details-wrapper" ng-switch-when="Upload">
				<div class="upload">
				<header class="text-center">
					<h1 class="thin">Upload</h1>
				</header>
				<ul>
					<li>
						<a href="#/upload_link">Link</a>
					</li>
					<li>
						<a href="#/upload_blog">Blog post</a>
					</li>
				</ul>
				</div>
			</div> -->

			<div class="details-wrapper" ng-switch-when="More">
				<div class="home">
				<header class="text-center">
					<h1 class="thin">More</h1>
				</header>
				<ul>
					<li class="b-reduce">
						<a href="#">Special Services</a>
					</li>
					<li>
						<a href="#/about">About</a>
					</li>
					<li>
						<a href="#/contact">Contact</a>
					</li>
					<li>
						<a href="#/terms">Terms</a>
					</li>
				</ul>
				</div>
			</div>


		</div>
		</div>
	</nav>
		<div ng-view></div>


	<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
	<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="assets/js/vendor/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.6/angular-datatables.min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBo-jaGZL9rufLdYLyzmoQT3aTR-NMjlzU"></script>
	<script src="http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-sanitize.js"></script>
	<script src="assets/js/vendor/angular-moment-picker.js"></script>
	<script src="assets/js/vendor/satellizer.min.js"></script>
	<script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
	<script src="assets/js/vendor/angular-datepicker.js"></script>
	<script src="assets/js/vendor/ngtweet.min.js"></script>
	<script src="assets/js/vendor/loading-bar.js"></script>
	<script src="assets/js/vendor/angular-route.min.js"></script>
	<script src="assets/js/vendor/ng-file-upload/angular-file-upload.js"></script>
	<script src="assets/js/vendor/ng-file-upload/angular-file-upload-shim.js"></script>
	<script src="assets/js/vendor/angular-animate.min.js"></script>
	<script src="assets/js/vendor/ui-bootstrap-tpls-2.2.0.min.js"></script>
	<script src="assets/js/vendor/truncate.js"></script>
	<script src="assets/js/vendor/textAngular-rangy.min.js"></script>
	<script src="assets/js/vendor/textAngular-sanitize.min.js"></script>
	<script src="assets/js/vendor/angular-ui-router.js"></script>
	<script src="assets/js/vendor/textAngular.min.js"></script>
	<script src="assets/js/vendor/disqus-here.js"></script>
	<script src="assets/js/vendor/dirDisqus.js"></script>


	<script src="assets/js/services/uploadService.js"></script>
	<script src="assets/js/services/videoService.js"></script>
	<script src="assets/js/services/homeService.js"></script>
	<script src="assets/js/services/authService.js"></script>
	<script src="assets/js/services/userService.js"></script>
	<script src="assets/js/services/eventService.js"></script>
	<script src="assets/js/services/blogService.js"></script>
	<script src="assets/js/controllers/eventManagerModule.js"></script>
	<script src="assets/js/controllers/userManagerModule.js"></script>
	<script src="assets/js/controllers/packageManagerModule.js"></script>
	<script src="assets/js/controllers/upload.js"></script>
	<script src="assets/js/controllers/event.js"></script>
	<script src="assets/js/controllers/videoModule.js"></script>
	<script src="assets/js/controllers/homeModule.js"></script>
	<script src="assets/js/controllers/priceModule.js"></script>
	<script src="assets/js/controllers/blogModule.js"></script>
	<script src="assets/js/controllers/app.js"></script>
</body>
</html>
