.contact{
  margin-top: 50px;

  .right{
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    h2{
      margin-top: 22px;
    }
    .pull-left{
      margin-left: 90px;
    }
    textarea{
      width: 70%;
      height: 150px;
    }
  }
  input{
    @extend %input;
    width: 70%;
    color: black;
    border-color: black;
  }
}
