//event page
.full{
  margin: 0;
  padding: 0;
  margin-left: 280px;
}
.event{
  .no-pad{
    padding: 0;
  }

  .banner{
    height: 550px;
    background: url(../img/uncompressed/1.png);
    background-size: cover;
    background-position: center center;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  .banner-cover{
    width: 100%;
    position: absolute;
    top: 0px;
  }
  .event-content-wrapper{
     padding-top: 0px;
  }
  .event-content{
    background-color: white;
    max-width: 1000px;
    position: relative;
    left: -140px;
    top: 50px;
  }
  .top-details{
    height: 400px;
    background-color: transparent;

    .event-image, .ad{
      padding: 0;
      img{
        height: 400px;
        width: 100%
      }
    }
    .ad{
      span{
        position: absolute;
        color: white;
        margin-top: 10px;
        left: 20px;
        background-color: rgba(0,0,0, 0.4);
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 5px;
      }
    }

    @media (min-width: 700px) {
      .ad{
        //display: none;
      }
    }
    // .event-image{
    //   padding-right: 20px;
    // }

  };
  .event-image{
    padding-right: 15px;
  }
  .nav-tabs>li {
    width: 15%;
  }
  .tab-content{
    padding: 20px;
    width: inherit;
  }
  .desc{
    padding: 0 20px;
  }
  .btn-wrapper{
    margin-top: 20px;

    button{
      margin-right: 10px;
    }
  }
  .nav-tabs>li >a{
      font-weight: 300;
      font-size: 20px;
  }

  .btn{
    padding: 5px 10px;

    img{
      margin-right: 5px;
      width: 10px;
      height: 10px;
    }
  }
  .add-comment{
    padding: 20px;

    textarea{
      border: 1px solid rgba(0,0,0, 0.5);
      width: 100%;
      height: 100px;
    }
  }
  .photo, .video{
    img{
      width: 340px;
      height: 230px;
    }
    .img-details{
      display: none;
      background-color: rgba(0,0,0, 0.4);
      width: 93.5%;
      height: 230px;
      position: absolute;
      transition: 0.4s;
    }
    .img-details p{
      color: white;
      font-size: 15px;
      font-weight: 500px;
      padding-left: 20px;
      padding-top: 200px;
    }
    .img-container:hover {
      .img-details{
        display: block;
      }
    }
  }
  .video{
    .icon{
      position: relative;
      top: 50%;
      left: 50%;
      margin-left: -25px;
      margin-top: -50px;

      img{
       height: 50px;
       width: 50px;
     }
    }
    .img-details p{
      padding-top: 130px;
      padding-left: 0;
    }
  }
  .photo{
    .img-details p{
      padding-top: 200px;
      padding-left: 10px;
    }
  }
}
.mobile-only-banner{
  background-size: cover;
  background-position: center center;
}

/* USER PROFILE PAGE */
.card {
  margin-top: 0px;
  padding: 30px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius:5px;
  -moz-border-top-left-radius:5px;
  border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-top-right-radius:5px;
  border-top-right-radius:5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
  height: 50px;
}
.card-background img {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  margin-left: -100px;
  margin-top: -200px;
  min-width: 130%;
}
.card.hovercard .useravatar {
  position: absolute;
  top: 15px;
  left: 0;
}
.card.hovercard .useravatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  //-webkit-border-radius: 50%;
  //-moz-border-radius: 50%;
  //border-radius: 50%;
  //border: 5px solid rgba(255, 255, 255, 0.5);
}
//.card.hovercard .card-info {
//  position: absolute;
//  bottom: 14px;
//  left: 0;
//  right: 0;
//}
//.card.hovercard .card-info .card-title {
//  padding:0 5px;
//  font-size: 20px;
//  line-height: 1;
//  color: #262626;
//  background-color: rgba(255, 255, 255, 0.1);
//  -webkit-border-radius: 4px;
//  -moz-border-radius: 4px;
//  border-radius: 4px;
//}
//.card.hovercard .card-info {
//  overflow: hidden;
//  font-size: 12px;
//  line-height: 20px;
//  color: #737373;
//  text-overflow: ellipsis;
//}
//.card.hovercard .bottom {
//  padding: 0 20px;
//  margin-bottom: 17px;
//}
//.btn-pref .btn {
//  -webkit-border-radius:0 !important;
//}

