.help{
  article{
    padding: 0 50px 50px 50px;
  }
}
.article{
  article{
    padding: 20px 100px;
  }
  .big{
    font-size: 35px;
  }
  .small{
    font-size: 15px;
    margin-left: 30px;
  }
  .underline{
    text-decoration: underline;
  }
  .lower-section{
    padding: 0 120px;
  }
}
