//home

.content{
  margin: 10px 20px 0 300px;
  background-color: white;
  padding-top: 5px;

  a{
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;

    &:hover{
      color: black;
      text-decoration: none;
    }
    &:visited, &:focus{
      color: black;
      text-decoration: none;
    }
  }
  div[class^='col-']{
    padding: 0 10px 10px 10px;
  }
  hr{
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    margin: 10px 0 0 0;
  }
  .padRight{
    padding-right: 40px;
    padding-left: 20px;
  }
  .tile-wrapper{
    transition: 0.4s;
    margin-bottom: 20px;

    &:hover{
      box-shadow: 0 2px 15px 2px gray;
    }
  }
  .thumb{
    height: 200px;
    background-size: cover;
    background-position: center center;
  }
  .up{
    padding-top: 60px;
  }
  .details{
    color: white;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
  }
  .writeup{
    padding: 0 30px;

    .icon-big {
      width: 60px;
      height: 60px;
      margin-left: -25px;
      margin-top: -115px;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    .icon{
      margin-top: 5px;
    }
  }
  div.vid-details{
    margin-left: 20px;
    height: 130px;
    padding-right: 10px;
    a{
      height: auto;
    }
    h4{
      font-size: 15px;
    }
    p{
      font-size: 13px;
    }
    &:hover{
      transition: 0.4s;
      h4, .desc{
        color: $purple;
      }
    }
  }
  .tags{
    padding: 10px;
    float: right;
    clear: both;
  }
  .tag{
    font-size: 10px;
    padding: 2px 10px;
    margin-right: 5px;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 10px;
  }
  .padTop{
    margin-top: 30px;
  }
  .padLeft{
    padding-left: 30px;
  }
  .space{
    margin-right: 10px;
    margin-left: 10px;
  }
  .link-para{
    text-decoration: underline;
    margin-bottom: 5px;
  }
  .pad-lr{
    padding: 0 20px;
  }
}
.modal-dialog{
  margin-top: 100px;
}
.modal-content, .modal-dialog{
  background-color: white;
  padding: 50px;
  //width: 400px;

  input{
    //@extend %input;
    color: black;
    border-color: black;

    &[type='text'], &[type='password'], &[type='email']{
      width: 100%;
    }
    &[type='checkbox']{
      margin: 0 10px 0 50px;
    }
  }
  .close{
    color: red;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    opacity: 0.4;
  }
  .padLeft{
    margin-left: 50px;
  }
  .padRight{
    margin-right: 50px;
    cursor: pointer;
  }
}
.modal-dialog{
  padding: 0;
}
.top{
  margin-top: -5px;
}
.channel-details{
  width: 250px;
  position: fixed;
  padding-right: 10px;
  height: 85vh;
  border-right: 1px solid rgba(0,0,0, 0.3);

  p{
    padding: 0 20px;
  }
  ul{
    list-style: none;
    padding-left: 0;
  }
}
.channel-uploads{
  margin-left: 300px;
}
.channel-modal-desc{
  height: 200px;
  width: 300px;
}
//end home
