//navbar
.search{
  border: 1px solid $purple;
  border-radius: 5px;
  padding: 5px;
  height: 32px;
  margin-top: 10px;

  & .glyphicon-search:before{
    color: $purple;
    margin-right: 5px;
  }
  & input{
    border: 0;
    margin-right: 10px;
  }
  & input:focus{
    border: 0;
    outline: 0;
  }
}
.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-default .navbar-nav>li>a.purple-text {
  color: $purple;
}
button.navbar-toggle.search{
  border: 0;
}
.navbar-default .navbar-nav>li>a.blue-btn{
  color: $purple;

  &:hover{
    color: white;
    background-color: $purple;
  }
}
div.navbar-collapse.collapse {
  display: block;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: max-height .3s ease;
  -moz-transition: max-height .3s ease;
  -o-transition: max-height .3s ease;
  transition: max-height .3s ease;
}
div.navbar-collapse.collapse.in {
  max-height: 2000px;
}
.navbar-default{
  background: white;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 6px;
}
.navbar-toggle .icon-bar {
    width: 30px;
    height: 2px;
}
.navbar-default .navbar-toggle {
    border: 0;
}
button.navbar-toggle{
  padding: 0;
  padding-top: 10px;
  margin-right: 0;

  &:hover {
    .icon-bar{
      border-color: $purple;
    }
  }
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: white;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  outline: 0;
  color: black;
  background-color: white;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid $purple;
}
.hint{
  position: absolute;
  left: 50%;
  background: black;
  color: white;
}
.nav-tabs>li {
  width: 50%;

  &>a{
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    color: black;
    border: 0;
  }
}
.nav-wrap{
  margin-right: 20px;
  margin-left: 20px;
}

// .v-nav2{
//   position: fixed;
//   height: 100vh;
//   overflow-y: auto;
//   width: 200px;
//   background: url(../img/uncompressed/nav.png);
//   background-size: cover;
//   background-position: center center;
//
//   h2{
//     color: white;
//     margin-bottom: 20px;
//   }
//   ul{
//     list-style: none;
//     padding-left: 0;
//   }
//   li{
//     span{
//       position: relative;;
//       left: -20px;
//       top: -3px;
//     }
//   }
//   a{
//     display: block;
//     padding: 15px 0 15px 55px;
//     color: white;
//     font-size: 15px;
//     text-decoration: none;
//
//     &:focus, &:hover{
//       outline: 0;
//       color: white;
//       background-color: rgba(0,0,0, 0.1);
//     }
//   }
//   .icon{
//     width: 20px;
//     height: 20px;
//   }
//
// // }

.v-nav{

  a{
    display: block;
    width: 100%;
    height: inherit;
    color: white;
    text-decoration: none;

    &:focus{
      outline: 0;
    }
    &:hover{
      color: white;
      text-decoration: none;
    }
    &:visited, &:focus{
      color: white;
      text-decoration: none;
    }
  }
}
.icon-nav{
  background-image: url(../img/uncompressed/nav.png);
  ul{
    list-style: none;
  }
  li{
    margin: 0;

    &:hover{
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  a{
    width: 100%;
    height: 100%;
    display: block;
  }
}
.icon-nav, .nav-details{
  background-image: url(../img/uncompressed/nav.png);
  background-size: cover;
  background-position: center center;
  position: fixed;
  height: 100%;
  bottom: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.icon-wrapper{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.icon-nav{
  width: 60px;
  left: 0;
  top: 0;

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li{
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  a{
    padding: 20px;
  }
  .active{
    border-right: 5px solid lightgreen;
  }
  img{
    // margin-left: 5px;
    width: 20px;
    height: 20px;
  }
  .icon-text{
    margin-top: 10px;
  }
}
.details-wrapper{
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow-y: auto;
}
.nav-details{
  margin-left: 60px;
  width: 220px;

  img{
    width: 15px;
    height: 15px;
  }
  header{
    height: 70px;
    padding: 20px 0;
  }
  h1{
    margin: 0;
  }
  p{
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
    padding: 10px 20px 30px 20px;
  }
  input{
    @extend %input;
    border-color: white;

    &:focus{
      border-color: white;
    }
  }
  .pad{
    padding: 0 30px 20px 30px;
  }
  .active{
    background-color: rgba(0, 0, 0, 0.3);
  }
  .pull-pad-right{
    float: right;
    margin-right: 20px;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li{
    height: 45px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;

    &:hover{
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  ul ul li{
    padding-left: 10px;
  }
  a{
    font-size: 13px;
    font-weight: 500;
    padding: 15px;
    padding-left: 30px;
  }
}


// end of nav
