
.content{
  .pricing{
    margin-top: 50px;

    header{
      padding-top: 10px;
      border-bottom: 1px solid rgba(0,0,0, 0.3);
    }
    .col-sm-3{
      padding: 0 20px;
    }
    .box-container{
      border: 1px solid rgba(0,0,0, 0.3);
      border-radius: 5px;
    }
    .gray{
      color: gray;
    }
    .price-details{
      margin-top: 30px;
      padding: 0 20px;
    }
    .purple-color{
      color: $purple;
    }
    .purple-border{
      border-color: $purple;
    }
    .purple-bg{
      background-color: $purple;
      color: white;
    }
    .btn:hover{
      color: white;
      background-color: $purple;
    }
  }
}
