.content{
  .statistics{
    margin-top: 50px;

    .row{
      margin-bottom: 20px;
    }
    .col-sm-3{
      padding: 0 10px;
    }
    .stat-square{
      height: 168px;
      border: 1px solid rgba(0,0,0, 0.2);
    }
    header{
      border-bottom: 1px solid rgba(0,0,0, 0.2);
    }
    .stat-body h2{
      font-size: 50px;
    }
    img{
      height: 20px;
      width: 20px;
    }
  }
}
