.content{
  .upload{
    input[type='text']{
      @extend %input;
      color: black;
      width: 400px;
      border-color: rgba(0,0,0, 0.5);
    }
    select, input[type='number'] {
      width: 400px;
      border: 1px solid rgba(0,0,0, 0.5);
      border-radius: 5px;
      padding: 5px 20px;
    }
    textarea{
      width: 100%;
      height: 500px;
      border: 1px solid rgba(0,0,0, 0.5);
      border-radius: 5px;
      padding: 20px;
    }
    div.form-control{
      border-color: $purple;
    }
  }
}
.app-modal-window > .modal-dialog {
  width: 500px;
}