.video, .article{
  a{
    display: inline;
  }

  .vid-details{
    color: black;
    margin-left: 100px;

    &:hover{
      h4, p{
        color: black;
      }
    }
  }
  iframe{
    width: 100%;
    height: 500px;
    border: 0;
  }
  hr{
    border-color: rgba(0,0,0, 0.2);
    width: 100%;
  }
  .btn{
    padding: 5px 10px;

    img{
      margin-right: 5px;
      width: 10px;
      height: 10px;
    }
  }
  .right{
    float: right;
    margin-right: 60px;
    margin-top: 10px;

    span{
      text-align: center;
      margin-right: 20px;
    }
  }
  .add-comment{
    padding: 20px;

    textarea{
      border: 1px solid rgba(0,0,0, 0.5);
      width: 100%;
      height: 100px;
    }
  }

  .comment{
    font-size: 15px;
  }
  .pad-right{
    margin-right: 60px;
  }
  .share-icons{
    margin-left: 10px;
  }
  .share{
    margin-right: 10px;
    background-color: white;

    img{
      width: 30px;
      height: 30px;
    }
  }
}
