<section class="container-fluid content full" ng-init="getEventData()">
		<section class="event">
			<div class="container-fluid no-pad">
				<div class="banner hidden-xs hidden-md hidden-md">
				</div>
				<div class="banner-cover">
					<div class="event-content-wrapper">
						<div class="container event-content">
							<div class="row top-details">
								<div class="col-sm-9 event-image">
									<img class="img-responsive" src="assets/img/uncompressed/1.png" alt="map" />
								</div>
								<div class="col-sm-3 hidden-md hidden-sm hidden-xs ad">
									<span class="ad">Sponsored</span>
									<img src="assets/img/uncompressed/3.jpg" alt="map" />
								</div>
							</div>
							<uib-tabset active="activeForm">
						    <uib-tab index="0" heading="Details">
									<div class="container tab-content">
										<div class="row">
											<div class="col-sm-7">
												<div class="desc">
													<h3 class="light">Kukere Concert</h3>
													<p class="light">Description. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
													<br />
													<h5>
														DATE AND TIME
														<br /><br />
														Tue, 3 January 2017
														10:00 AM – 4:00 PM WAT
														<br /><br /><br /><br />
														LOCATION
														<br /><br />
														Four Points by Sheraton Lagos
														Plot 9/10 Block 2 Oniru Chieftaincy Estate
														Victoria Island
														Lagos, Lagos
														View Map
													</h5>
												</div>
											</div>
											<div class="col-sm-5">
												<div class="text-center btn-wrapper">
													<button class="btn">Buy Tickets</button>
													<button class="btn">Register</button>
													<button class="btn" ng-click="followOptions.follow()">{{followOptions.text}}</button>
												</div>
												<br /><br />
												<div class="dir">
													<img class="img-responsive" src="assets/img/uncompressed/map.jpg" alt="map" />
												</div>
											</div>
										</div>
									</div>
						    </uib-tab>
						    <uib-tab index="1" heading="Social Feeds">
									<div class="container tab-content">
										<div class="row">
											<div class="col-sm-7">
												<div class="desc">
													<h3 class="light">Lagos Cycling Marathon (sponsored by coca-cola)</h3>
													<p class="light">Description. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
													<br />
													<h5>
														DATE AND TIME
														<br /><br />
														Tue, 3 January 2017
														10:00 AM – 4:00 PM WAT
														<br /><br /><br /><br />
														LOCATION
														<br /><br />
														Four Points by Sheraton Lagos
														Plot 9/10 Block 2 Oniru Chieftaincy Estate
														Victoria Island
														Lagos, Lagos
														View Map
													</h5>
												</div>
											</div>
											<div class="col-sm-5">
												<div class="text-center btn-wrapper">
													<button class="btn">Buy Tickets</button>
													<button class="btn">Register</button>
													<button class="btn">Follow Channel</button>
												</div>
												<br /><br />
												<div class="dir">
													<img class="img-responsive" src="assets/img/uncompressed/map.jpg" alt="map" />
												</div>
											</div>
										</div>
									</div>
						    </uib-tab>
						    <uib-tab index="2" heading="Gallery">
									<div class="container tab-content video">
										<div class="row">
											<div class="col-sm-4">
												<div class="img-container">
													<div class="img-details text-center">
														<div class="icon">
															<img class="img-responsive" src="assets/img/icons/play.svg" alt="map" />
														</div>
														<p>
															Video Title
														</p>
													</div>
													<img class="img-responsive" src="assets/img/uncompressed/2.png" alt="map" />
												</div>
											</div>
											<div class="col-sm-4">
												<div class="img-container">
													<div class="img-details text-center">
														<div class="icon">
															<img class="img-responsive" src="assets/img/icons/play.svg" alt="map" />
														</div>
														<p>
															Video Title
														</p>
													</div>
													<img class="img-responsive" src="assets/img/uncompressed/6.png" alt="map" />
												</div>
											</div>
											<div class="col-sm-4">
												<div class="img-container photo">
													<div class="img-details">
														<p>
															Image Title
														</p>
													</div>
													<img class="img-responsive" src="assets/img/uncompressed/2.png" alt="map" />
												</div>
											</div>
											<div class="col-sm-4">
												<div class="img-container photo">
													<div class="img-details">
														<p>
															Image Title
														</p>
													</div>
													<img class="img-responsive" src="assets/img/uncompressed/6.png" alt="map" />
												</div>
											</div>
											<div class="col-sm-4">
												<div class="img-container photo">
													<div class="img-details">
														<p>
															Image Title
														</p>
													</div>
													<img class="img-responsive" src="assets/img/uncompressed/4.png" alt="map" />
												</div>
											</div>
											<div class="col-sm-4">
												<div class="img-container photo">
													<div class="img-details">
														<p>
															Image Title
														</p>
													</div>
													<img class="img-responsive" src="assets/img/uncompressed/8.png" alt="map" />
												</div>
											</div>
											<div class="col-sm-4">
												<div class="img-container photo">
													<div class="img-details">
														<p>
															Image Title
														</p>
													</div>
													<img class="img-responsive" src="assets/img/uncompressed/11.png" alt="map" />
												</div>
											</div>
											<div class="col-sm-4">
												<div class="img-container photo">
													<div class="img-details">
														<p>
															Image Title
														</p>
													</div>
													<img class="img-responsive" src="assets/img/uncompressed/12.png" alt="map" />
												</div>
											</div>
										</div>
									</div>
						    </uib-tab>
						    <uib-tab index="3" heading="Ratings">
									<div class="container tab-content">
										<div class="row">
											<div class="col-sm-7">
												<div class="desc">
													<div class="comment-area">
														<h4 class="">{{videoData.comments}} Comments • {{videoData.likes}} Likes • {{videoData.views}} Views</h4>
														<div ng-repeat="comment in videoData.commentsArr">
															<br />
															<p class="comment light">{{comment.comment}}</p>
															<p class="light link-para">
																{{comment.user}}
															</p>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-5">
												<div class="text-center btn-wrapper">
													<button class="btn" ng-click="commentOptions.showCommentBox = !commentOptions.showCommentBox">Add comment</button>
													<button class="btn" ng-click="likeOptions.like(videoData.likes)"><img src="assets/img/icons/like.svg" alt="like" />Like</button>
												</div>
												<br /><br />
												<div class="add-comment" ng-show="commentOptions.showCommentBox">
													<textarea ng-model="commentOptions.newComment"></textarea>
													<br /><br />
													<button class="btn" ng-click="commentOptions.addComment()">Add</button>
													<br /><br />
													<hr />
												</div>
											</div>
										</div>
									</div>
						    </uib-tab>
						  </uib-tabset>
						</div>
					</div>
				</div>
			</div>

		</section>
	</section>
